@charset "UTF-8";
.login_mtop{
	margin: 1em 0 0;
}


.page_ttl_ja {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
.pp_page_ttl_en {
    display: block;
    margin: 12px 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #60B8CF;
}
.pp_subtxt {
    line-height: 2;
}
.pp_subtxt + .pp_box {
  margin: 30px 0 0;
}
.pp_box {
  padding: 30px;
  background-color: #F0F1F0;
}
.pp_box + .pp_box{
  margin: 30px 0 0;
}
.pp_box_ttl {
  font-size: 14px;
  font-weight: bold;
}
.pp_box p {
  margin-top: 20px;
  line-height: 2;
}

@media only screen and (min-width: 1025px) {
.page_ttl_ja {
    font-size: 34px;
  }
  .pp_page_ttl_en {
    font-size: 20px;
  }
  .pp_subtxt {
    line-height: 2;
}
.pp_subtxt + .pp_box {
  margin: 67px 0 0;
}
.pp_box {
  padding: 60px 64px 50px;
}
.pp_box + .pp_box{
  margin: 30px 0 0;
}
.pp_box_ttl {
  font-size: 20px;
}
.pp_box p {
  margin-top: 30px;
  line-height: 2;
}
}

.mlogbg{
	background: #F0F1F0;
	font-size: 13px;
}

.inner_01{
	text-align: center;
}

.login_info{
	text-align: center;
}

.passbox{
	margin: 30px auto 0;
	width: 100%;
	max-width: auto;
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: space-between;
}

.pass_lb{
	background: #727171;
	color: #fff;
	width: 100%;
	max-width: auto;
	min-width: auto;
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
}

input{
	border: none;
}

input.pass_input{
	line-height: 40px;
	height: 40px;
	width: 100%;
	text-align: left;
	padding: 0 1.5em;
}

input:focus{
	outline: none;
}

.login_submit{
	display: flex;
	justify-content: center;
	margin: 25px 0 0;
	
}

.login_submit_btdeco{
	width: 260px;
	background: #51AAC1;
	cursor: pointer;
	position: relative;
	transition: 1s all ease-out;
}

.login_submit_btdeco:hover{
	background: #727171;
}

input.login_submit_bt{
	background: transparent;
	color: #fff;
	width: 100%;
	line-height: 40px;
	padding: 0 30px;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
	font-size: 13px;
}

@media all and (-ms-high-contrast: none) {
	.pass_lb{
		padding: 3px 0 0;
	}
	input.login_submit_bt{
		padding: 3px 30px 0;
	}
}

.login_submit_btarw{
	position: absolute;
	right: 10px;
	top:calc( 50% - 10px );
}


a.pass_unknown{
	display: inline-block;
	margin: 25px auto 0;
	text-align: center;
	color: #51AAC1;
	border-bottom: 1px solid #51AAC1;
}

@media only screen and (min-width: 520px) {
	.passbox{
		margin: 40px auto 0;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-flow: row;
		justify-content: space-between;
	}
	
	.pass_lb{
		width: calc( 100% * ( 292 / 862 ) );
		max-width: 292px;
		min-width: 10em;
		text-align: center;
		line-height: 40px;
		height: 40px;
		font-weight: bold;
	}

	input{
		border: none;
	}

	input.pass_input{
		line-height: 40px;
		height: 40px;
		width: calc( 100% - 10em );
		text-align: left;
		padding: 0 1.5em;
	}
}

@media only screen and (min-width: 1025px) {
	
	.mlogbg{
		font-size: 18px;
	}

	.login_info{
		text-align: center;
	}

	.passbox{
		margin: 60px auto 0;
		width: 100%;
		max-width: 862px;
		display: flex;
		justify-content: space-between;
	}
	
	.error{
		margin: 1em auto 0;
		width: 100%;
		max-width: 862px;
	}


	.pass_lb{
		background: #727171;
		color: #fff;
		width: 50%;
		max-width: 292px;
		min-width: 10em;
		text-align: center;
		line-height: 50px;
		height: 50px;
		font-weight: bold;
	}

	input{
		border: none;
	}

	input.pass_input{
		line-height: 50px;
		height: 50px;
		width: calc( 100% - 10em );
		text-align: left;
		padding: 0 1.5em;
	}

	input:focus{
		outline: none;
	}

	.login_submit{
		display: flex;
		justify-content: center;
		margin: 50px 0 0;

	}

	.login_submit_btdeco{
		width: 260px;
		background: #51AAC1;
		cursor: pointer;
		position: relative;
		transition: 1s all ease-out;
	}

	.login_submit_btdeco:hover{
		background: #727171;
	}

	input.login_submit_bt{
		background: transparent;
		color: #fff;
		width: 100%;
		line-height: 40px;
		padding: 0 30px;
		text-align: left;
		font-weight: bold;
		cursor: pointer;
		font-size: 14px;
	}

	.login_submit_btarw{
		position: absolute;
		right: 10px;
		top:calc( 50% - 10px );
	}


	a.pass_unknown{
		display: inline-block;
		margin: 50px auto 0;
		text-align: center;
		color: #51AAC1;
		border-bottom: 1px solid #51AAC1;
	}
}

@media all and (-ms-high-contrast: none) and (min-width: 1025px) {
	.pass_lb{
		padding: 3px 0 0;
	}
	input.login_submit_bt{
		padding: 3px 30px 0;
	}
}

.unknown_wrap .submember{
	padding: 50px 0;
}

.unknown_wrap .submember .text_box{
	padding: 0;
	margin: 0 0 50px;
}

.unknown_wrap .submember .text_box ul{
	border: none;
	padding: 0;
}

@media only screen and (min-width: 1025px) {
	.unknown_wrap .submember{
		padding: 100px 0;
	}
}
/* ボーダーの打消し */
.submember .text_box {
 border: none;
}

.foot_contact_bnr a {
	background: #60b8cf;
}
.pp_page_ttl_wrap {
	white-space: normal;
}