@charset "UTF-8";

.about{
	font-size: 13px;
	line-height: 2em;
}

@media only screen and (min-width: 1025px) {
	.about{
		font-size: 18px;
		line-height: 2em;
	}
}

.hedhero{
	background-image: url("../images/about/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/about/hero_pc.jpg");
	}
}

/*********/
/* 経営理念 */
.conhed_wrap{
	padding: calc( ( 100vw - 23px - 23px ) * 0.640718562 ) 0 0;
	position: relative;
	margin: 50px 0 0;
}

.conhed_bg{
	width: 100%;
	z-index: 1;
	top :0;
	position: absolute;
	height: calc( ( 100vw - 23px - 23px ) * 0.640718562 );
	background: url("../images/about/img01.jpg");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

.conhed_box{
	position: relative;
	z-index: 2;
	width: 88.323353%;
	max-width: 864px;
	margin: -43px auto 0;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	padding: 30px 30px;
}

.conhed_ttl{
	font-size: 18px;
	font-weight: bold;
}

.s_underbar{
	margin: 20px 0 0;
	height: 1px;
	width: 36px;
	background: #60B8CF;
}


.conhed_philosophy{
	margin: 20px 0 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 2em;
}

.conhed_txt{
	margin: 20px 0 0;
}

@media only screen and (min-width: 768px) {
	.conhed_wrap{
		padding: 60px 0;
		position: relative;
		margin: 100px 0 0;
	}

	.conhed_bg{
		width: 50%;
		z-index: 1;
		top :0;
		position: absolute;
		height: 100%;
		background: url("../images/about/img01.jpg");
		background-position: left center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.conhed_box{
		position: relative;
		z-index: 2;
		width: 50%;
		max-width: 864px;
		margin: 0px auto 0px calc( 50% - 9.3229% );
		background: #fff;
		box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
		padding: 65px 65px;
	}

	.conhed_ttl{
		font-size: 27px;
		font-weight: bold;
	}

	.s_underbar{
		margin: 30px 0 0;
		height: 1px;
		width: 50px;
		background: #60B8CF;
	}


	.conhed_philosophy{
		margin: 50px 0 0;
		font-size: 20px;
		font-weight: bold;
		line-height: 2em;
	}

	.conhed_txt{
		margin: 50px 0 0;
	}
}

/**************************/
/* 会社概要 */
.about_wrap{
	padding: 50px 0;
}

.about_conbox{
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.about_ttlbox{
	min-width: auto;
}

.about_infobox{
	width: 100%;
	max-width: auto;
	margin: 24px 0 0;
}

.about_ttl{
	font-size: 18px;
	font-weight: bold;
}

.underbar{
	width: 36px;
	height: 1px;
	background: #60B8CF;
	margin: 20px 0 0;
}

.about_dl{
	width: 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
	line-height: 1.5;
}

.about_dt,.about_dd{
	padding: 26px 0 24px;
	border-bottom: 1px solid #60B8CF;
}

.about_dt{
	width: 6.3em;
	min-width: auto;
	font-weight: bold;
	color: #60B8CF;
}

.about_dd{
	width: calc( 100% - 6.3em );
	max-width: auto;
}

@media only screen and (min-width: 768px) {
	.about_wrap{
		padding: 100px 0;
	}

	.about_conbox{
		display: flex;
		flex-flow: row;
		justify-content: space-between;
	}

	.about_ttlbox{
		min-width: calc( 27px * 5 );
	}

	.about_infobox{
		width: calc( 100% - ( 27px * 5 ) );
		max-width: 976px;
		margin: 0;
	}

	.about_ttl{
		font-weight: bold;
	}

	.underbar{
		width: 50px;
		height: 3px;
		background: #60B8CF;
		margin: 30px 0 0;
	}

	.about_dl{
		width: 100%;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.about_dt,.about_dd{
		padding: 26px 0 20px;
		border-bottom: 1px solid #60B8CF;
	}

	.about_dt{
		width: calc( 100% - 76.63934% );
		min-width: 7em;
		font-weight: bold;
		color: #60B8CF;
	}

	.about_dd{
		width: 76.63934%;
		max-width: 748px;
	}
}

@media only screen and (min-width: 1025px) {
	.about_ttl{
		font-size: 27px;
	}
	.underbar{
		height: 5px;
	}
}

/**************************/
/* 勧誘方針 */


.bgcl_gray{
	background: #F0F1F0;
}

.c_ttl{
	font-size: 18px;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

.c_underbar{	
	width: 36px;
	height: 1px;
	background: #60B8CF;
	margin: 20px auto 0;
}


.policy_wrap{
	padding: 50px 0;
}

.policy_txt{
	margin: 30px 0 0;
}

.policy_item{
	background: #fff;
	margin: 20px 0 0;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	padding: 30px;
}

.item_no{
	font-size: 14px;
	font-weight: bold;
	width: 2.5em;
	margin: 0.4em 0 0;
}

.policy_item p{
	width: calc( 100% - 2.5em );
}

@media only screen and (min-width: 768px) {
	.c_ttl{
		font-size: 27px;
		font-weight: bold;
		margin: auto;
		text-align: center;
	}

	.c_underbar{	
		width: 50px;
		height: 5px;
		background: #60B8CF;
		margin: 30px auto 0;
	}


	.policy_wrap{
		padding: 100px 0;
	}

	.policy_txt{
		margin: 50px 0 0;
	}

	.policy_item{
		background: #fff;
		margin: 20px 0 0;
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		padding: 50px 5%;
	}

	.item_no{
		font-size: 20px;
		font-weight: bold;
		width: 3em;
		margin: 0.4em 0 0;
	}
}

/**************************/
/* 顧客本位の業務運営 */
.ope_wrap{
	padding: 100px 0;
}

.ope_box{
	margin: -30px 0 0;
	padding: 55px 0 0;
}

.ope_item{
	margin: 30px 0 0;
	padding: 50px 5% 60px;
	background: #F0F1F0;
}

.ope_ttl{
	font-size: 20px;
	font-weight: bold;
}

.ope_item p{
	margin: 24px 0 0;
}







