@charset "UTF-8";

.access{
/*
	font-size: 13px;
*/
	line-height: 2em;
}

@media only screen and (min-width: 769px) {
	.access{
/*
		font-size: 18px;
*/
		line-height: 2em;
	}
}
.hedhero{
	background-image: url("../images/access/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/access/hero_pc.jpg");
	}
}


.access a.combtn{
	line-height: 1em;
}


/*********/
/* 本社 */
.access_wrap{
	padding: 50px 0 0px;
}

.conline{
	width: 100%;
	height: 1px;
	background: #ADB5BD;
	position: relative;
}

.conline::before{
	content: '';
	position: absolute;
	width: 50px;
	height: 5px;
	top:-2px;
	background: #60B8CF;
}

.map_box{
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.map_infoarea{
	width: 100%;
	max-width: auto;
	margin: 40px 0 0px;
}
.map_infoarea a {
	max-width: 260px;
}

.maparea{
	width: 100%;
	height: 200px;
	margin: 40px 0 40px;
}


.map_ttl{
	font-size: 18px;
	font-weight: bold;
}

.map_subttl{
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 0;
}

.map_infottl{
	font-size: 14px;
	font-weight: bold;
	margin: 30px 0 0;
}

.map_info{
	margin: 10px 0 0;
}


.annai_m{
	margin: 40px 0 0;
}
@media screen and (min-width:769px) {
	.access_wrap{
		padding: 100px 0 60px;
	}

	.conline{
		width: 100%;
		height: 1px;
		background: #ADB5BD;
		position: relative;
	}

	.conline::before{
		content: '';
		position: absolute;
		width: 50px;
		height: 5px;
		top:-2px;
		background: #60B8CF;
	}

	.map_box{
		display: flex;
		flex-flow: row;
		justify-content: space-between;
	}

	.map_infoarea{
		width: calc( 100% - 56.9254% - 1em );
		max-width: 490px;
		margin: 50px 0 60px;

	}

	.maparea{
		width: 56.9254%;
		height: 400px;
		margin: 100px 0 0;
	}


	.map_ttl{
		font-weight: bold;
	}

	.map_subttl{
		font-weight: bold;
		margin: 10px 0 0;
	}

	.map_infottl{
		font-weight: bold;
		margin: 40px 0 0;
	}

	.map_info{
		margin: 20px 0 0;
	}


	.annai_m{
		margin: 50px 0 0;
	}
}

@media screen and (min-width:1025px) {

	.map_ttl{
		font-size: 27px;
	}

	.map_subttl{
		font-size: 18px;
	}

	.map_infottl{
		font-size: 20px;
	}

}



.sqlist{
	margin: 20px 0 0;
}

.sqlist .sqitem{
	margin: 0.5em 0 0 1.2em;
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 1.5;
}
.sqlist .sqitem:before{
	content: '';
	width: 0.8em;
	height: 0.8em;
	display: inline-block;
	background: #51AAC1;
	position: absolute;
	top: 0.3em;
	left: -1.2em;
}

@media screen and (min-width:769px) {
	.sqlist .sqitem{
		position: relative;
		display: block;
		line-height: 1.5;
	}
	.sqlist .sqitem:before{
		content: '';
		display: inline-block;
		background: #51AAC1;
		position: absolute;
		top: 0.3em;
		left: -1.2em;
	}
}

.access_conlinem:nth-of-type(2){
	margin: 65px 0 0;
}

@media screen and (min-width:1025px) {
	.sqlist .sqitem{
		font-size: 18px;
	}
}


