@charset "UTF-8";

.car{
	line-height: 2em;
}

@media only screen and (min-width: 769px) {
	.car{
		line-height: 2em;
	}
}
.hedhero{
	background-image: url("../images/car/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/car/hero_pc.jpg");
	}
}



/*********/
/* 自動車保険課 */
.conhed_wrap{
	padding: calc( ( 100vw - 23px - 23px ) * 0.640718562 ) 0 0;
	position: relative;
	margin: 50px 0 50px;
}

.conhed_bg{
	width: 100%;
	z-index: 1;
	top :0;
	position: absolute;
	height: calc( ( 100vw - 23px - 23px ) * 0.640718562 );
	background: url("../images/car/img01_sp.jpg");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

.conhed_box{
	position: relative;
	z-index: 2;
	width: 88.323353%;
	max-width: 864px;
	margin: -43px auto 0;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	padding: 30px 30px;
}

.conhed_ttl{
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 19px;
	border-bottom: 1px solid #60B8CF;
}

.conhed_tel{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #60B8CF;
	line-height: 1;
	margin: 13px 0 0;
}

.conhed_time{
	margin: 5px 0 0;
}

.car .combtn{
	line-height: 1em;
	max-width: 232px;
	width: 100%;
}
.car .combtn:hover{
	background: #727171;
}
.conhed_txt{
	margin: 40px 0 0;
}

@media only screen and (min-width: 768px) {
	.conhed_wrap{
		padding: 60px 0 80px;
		position: relative;
		margin: 100px 0 100px;
	}

	.conhed_bg{
		width: 48%;
		z-index: 1;
		top :0;
		position: absolute;
		height: 100%;
		background: url("../images/car/img01_pc.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.conhed_box{
		position: relative;
		z-index: 2;
		width: 65.454545%;
		max-width: 864px;
		margin: 0px auto 0px calc( 100% - 65.454545% );
		background: #fff;
		box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
		padding: 65px 65px;
	}

	.conhed_ttl{
		padding: 0 0 19px;
		border-bottom: 1px solid #60B8CF;
	}
	
	.conhed_tel{
		margin: 22px 0 0;
	}
	
	.conhed_time{
		margin: 5px 0 0;
	}
	
	.car .combtn{
		line-height: 1em;
		max-width: 260px;
	}

	.conhed_txt{
		margin: 80px 0 0;
	}
}

a.conhed_emergency {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0.2em 20px;
	display: inline-block;
	line-height: 1em;
	color: #fa0f00;
	margin: 1em 0 0;
}
a.conhed_emergency:before {
	display: block;
	content: '※';
	position: absolute;
	left: 0;
	top: 4px;
}
a.conhed_emergency span {
	border-bottom: 1px solid #fa0f00;
	line-height: 1.5;
}
@media only screen and (min-width: 1025px) {
	a.conhed_emergency {
		padding: 0 0 0.2em 23px;
		font-size: 20px;
	}
	a.conhed_emergency:before {
		top: 6px;
	}
	.conhed_ttl{
		font-size: 27px;
	}
	.conhed_tel{
		font-size: 25px;
	}
}
/* submember_pdf */
.submember_pdf {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 641px) {
	.submember .submember_pdf {
		width: auto;
	}
	.submember_pdf figure:nth-child(2n) {
		margin: 0 0 0 10px;
	}
}
@media screen and (min-width: 641px) {
	.submember_pdf figure {
		width: 46%;
	}
}


/* car_text_wrap */
.car_text_wrap {
	padding: 30px 0 0;
}
.car_text_list {
	padding: 30px 0;
}
.car_text_list .car_text_list_item+.car_text_list_item {
	padding: 30px 0 0;
}
.car_list_item_ttl {
	padding: 0 0 10px;
	margin: 0 0 20px;
	font-weight: bold;
	border-bottom: 1px solid #60B8CF;
}
@media screen and (min-width: 1025px) {
	.car_text_wrap {
		padding: 50px 0 0;
	}
	.car_text_list {
		padding: 50px 0;
	}
	.car_text_list .car_text_list_item+.car_text_list_item {
		padding: 50px 0 0;
	}
	.car_list_item_ttl {
		padding: 0 0 20px;
	}
}