@charset "UTF-8";
/* font */
body {
  font-size: 13px;
}
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}
/* スクロールバー */
/** initial setup **/
html, body {
  height: 100%;
}
.nano { background: #fff; width: 100%; height: 1000px; }
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}



.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.1);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  z-index: 1000;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #4793A7;
  background: rgba(71,147,167,.7);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
/* 別スクロール */
.nano2 { width: 100%; height: 100%; }
.nano2 {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano2 > .nano2_con {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano2 > .nano2_con:focus {
  outline: thin dotted;
}
.nano2 > .nano2_con::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano2_con::-webkit-scrollbar {
  display: block;
}
.nano2 > .nano-pane {
  background : rgba(0,0,0,.1);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  z-index: 19999;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano2 > .nano-pane > .nano-slider {
  background: #4793A7;
  background: rgba(188,198,1,.99);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano2:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
/* 別スクロールエンド */
/* wrapper */
.wrap {
  padding: 50px 0 0;
}
@media only screen and (min-width: 1025px) {
  .wrap {
    padding: 80px 0 0;
  }
}
@media only screen and (min-width: 1401px) {
  .wrap {
    padding: 100px 0 0;
  }
}
/* header */
.header_contents {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50px;
  background: #fff;
}
@media only screen and (min-width: 1025px) {
  .header_contents {
    height: 80px;
  }
}
/* あとから出てくるメニューバー */
.sc_nav {
  display: none;
  height: 50px;
}
@media only screen and (min-width: 1025px) {
  /* あとから出てくるメニューバー */
  .sc_nav {
    display: block;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.2);
  }
  .top_floting {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 0;
    background: #f0f1f0;
    transition: all 0.5s ease-out;
  }
  .top_floting_show {
    top: 80px;
  }
  .top_nav_btn_box {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row;
  }
  .top_nav_btn_box li {
    width: 20%;
    height: 50px;
  }

  a.top_nav_btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;
  }
  a.top_nav_btn:first-of-type {
    border-left: 1px solid #fff;
  }
}
@media only screen and (min-width: 1401px) {
  .header_contents {
    height: 100px;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 1025px){
  a.top_nav_btn {
    padding: 8px 0 0;
  }
}

/*
ロゴ
*/
.logo {
  position: absolute;
  top: 10px;
  left: 15px;
}
.logo img {
  width: 146px;
  height: 25px;
}
@media only screen and (min-width: 1025px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .logo img {
    width: 224px;
    height: 39px;
  }
}
@media only screen and (min-width: 1401px) {
  .logo {
    position: absolute;
    top: 17px;
    left: 100px;
  }
  .logo img {
    width: 367px;
    height: 64px;
  }
  .top_floting_show {
    top: 100px;
  }
}
/*
ナビボタン
*/
.nav_btn {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background: #51aac1;
  cursor: pointer;
}
.nav_btn_line_wrap {
  position: relative;
  width: 10px;
  height: 22px;
  transition: all 0.5s ease-out;
}
.nav_btn_line {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: transform 0.6s;
}
.nav_btn_line-center {
  top: 4px;
}
.nav_btn_line-bottom {
  top: 8px;
}
.nav_btn_line-top.active {
  top: 3px;
  transform: rotate(45deg);
}
.nav_btn_line-center.active {
  transform: scaleX(0);
}
.nav_btn_line-bottom.active {
  top: 3px;
  transform: rotate(135deg);
}
.nav_btn_txt {
  position: absolute;
  top: 27px;
  text-align: center;
  width: 5em;
  left: calc(50% - 2.5em);
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  transition: all 0.5s ease-out;
  transform: scale(0.7);
}
@media only screen and (min-width: 1025px) {
  .nav_btn {
    width: 80px;
    height: 80px;
  }
  .nav_btn_line_wrap {
    width: 20px;
    height: 30px;
  }
  .nav_btn_line {
    height: 2px;
  }
  .nav_btn_line-center {
    top: 7px;
  }
  .nav_btn_line-bottom {
    top: 14px;
  }
  .nav_btn_line-top.active {
    top: 6px;
  }
  .nav_btn_line-bottom.active {
    top: 7px;
  }
  .nav_btn_txt {
    top: 54px;
    font-size: 12px;
    transform: scale(1);
  }
}
@media only screen and (min-width: 1401px) {
  .nav_btn {
    width: 100px;
    height: 100px;
  }
  .nav_btn_line_wrap {
    width: 22px;
    height: 30px;
  }
  .nav_btn_line-center {
    top: 6px;
  }
  .nav_btn_line-bottom {
    top: 12px;
  }
  .nav_btn_txt {
    top: 60px;
    font-size: 14px;
  }
}
/*
アクセス
*/
.head_access_btn {
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #bcc601;
}
.head_access_btn_inner {
  height: 50px;
  text-align: center;
}
.head_access_btn_inner img {
  width: 9px;
  height: 13px;
  margin: 7px 0 0;
}
.head_access_btn span {
  display: block;
  margin: 0;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  transform: scale(0.7);
}
@media all and (-ms-high-contrast: none) {
  .head_access_btn_inner {
    padding: 4px 0 0;
  }
}
@media only screen and (min-width: 1025px) {
  .head_access_btn {
    right: 80px;
    width: 80px;
    height: 80px;
  }
  .head_access_btn_inner {
    height: 56px;
  }
  .head_access_btn_inner img {
    width: 18px;
    height: 26px;
    margin: 0;
  }
  .head_access_btn span {
    margin: 6px 0 0;
    font-size: 12px;
    transform: scale(1);
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 1025px){
  .head_access_btn_inner {
    padding: 4px 0 0;
  }
}
@media only screen and (min-width: 1401px) {
  .head_access_btn {
    right: 100px;
    width: 100px;
    height: 100px;
  }
  .head_access_btn_inner {
    height: 62px;
  }
  .head_access_btn span {
    margin: 4px 0 0;
    font-size: 14px;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 1401px){
  .head_access_btn_inner {
    padding: 4px 0 0;
  }
}
/*
TEL
*/
.head_tel {
  display: none;
}
@media only screen and (min-width: 769px) {
  .head_tel {
    position: absolute;
    top: 7px;
    right: 100px;
    display: block;
  }
  .tel_number span:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
  }
  .tel_number span:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
  }
  .business_hours p {
    font-size: 10px;
    font-weight: bold;
    transform: translateX(-10px) scale(0.9);
  }
}
@media only screen and (min-width: 1025px) {
  .head_tel {
    top: 20px;
    right: 195px;
  }
  .tel_number span:nth-child(1) {
    font-size: 20px;
  }
  .tel_number span:nth-child(2) {
    font-size: 30px;
  }
  .business_hours p {
    letter-spacing: 0.6px;
    transform: scale(1);
  }
}
@media only screen and (min-width: 1401px) {
  .head_tel {
    top: 25px;
    right: 250px;
  }
  .tel_number span:nth-child(1) {
    font-size: 25px;
  }
  .tel_number span:nth-child(2) {
    font-size: 35px;
  }
  .business_hours p {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}
/* グローバルナビ */
.gnav {
  position: fixed;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.gnav_inner {
  height: 100%;
  background: #fff;
}
.nav_list_wrap {
  padding: 50px;
  background: #fff;
}
.nav_list {
  padding: 40px;
  background: #bbe2ec;
}
.nav_list ul li {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #fff;
}
.nav_list ul li:last-child {
  margin: 0;
  border-bottom: none;
}
.nav_list ul li a {
  position: relative;
  display: block;
  padding: 0 15px 0 0;
}
.nav_list ul li a span {
  display: block;
}
.nav_list_ja {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.85;
}
.nav_list_en {
  margin: 7px 0 0;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  line-height: 1.3;
}
.arw_nav_list {
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 14px;
  background: url("../images/common/arw_nav_list.svg") center/8px 14px no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.gnav_login_btn_wrap {
  margin: 0 0 20px;
}
.gnav_login_txt {
  display: block;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: #F0F1F0;
}
a.gnav_login_btn {
  position: relative;
  display: block;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: #51AAC1;
  color: #fff;
}
@media only screen and (min-width: 481px) {
  .gnav_login_btn_wrap {
    display: flex;
    margin: 0 0 30px;
  }
  .gnav_login_txt {
    width: 50%;
    text-align: left;
  }
  a.gnav_login_btn {
    width: 50%;
  }
}
@media only screen and (min-width: 769px) {
  .gnav_inner {
    display: flex;
    justify-content: flex-end;
    height: auto;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .nav_list_wrap {
    width: 70%;
    padding: 50px;
  }
  .nav_list ul li {
    margin: 0 0 15px;
    padding: 0 0 15px;
  }
  .nav_list_ja {
    font-size: 20px;
  }
  .nav_list_en {
    margin: 10px 0 0;
    font-size: 16px;
  }
  .arw_nav_list {
    width: 10px;
    height: 17px;
    background: url("../images/common/arw_nav_list.svg") center/10px 17px no-repeat;
  }
  .gnav_login_txt {
    padding: 20px 50px;
  }
  a.gnav_login_btn {
    padding: 20px 50px;
  }
}
@media only screen and (min-width: 1025px) {
  .gnav {
    width: calc(100% + 17px);
  }
  .nav_list_wrap {
    width: 70%;
    padding: 80px 97px 80px 90px;
  }
  .nav_list {
    padding: 50px;
  }
  .nav_list ul li {
    margin: 0 0 20px;
    padding: 0 0 20px;
  }
  .gnav_login_txt {
    font-size: 16px;
  }
  a.gnav_login_btn {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1401px) {
  .nav_list_wrap {
    width: 56%;
    min-width: 1050px;
    padding: 100px 117px 84px 114px;
  }
  .nav_list_ja {
    font-size: 24px;
  }
  .nav_list_en {
    font-size: 20px;
  }
  .gnav_login_txt {
    font-size: 18px;
  }
  a.gnav_login_btn {
    font-size: 18px;
  }
}
/* フッター */
/*
フッターTEL
*/
.foot_tel {
  padding: 30px 0;
  background: #60b8cf;
}
.foot_tel_txt p {
  text-align: center;
}
.foot_tel_txt p:nth-child(1) {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: bold;
}
.foot_tel_txt p:nth-child(2) {
  margin: 0 0 8px;
  font-size: 12px;
  font-weight: bold;
}
.foot_contact_bnr_wrap {
  margin: auto;
}
.foot_contact_bnr {
  margin: 20px 0 0;
}
.foot_contact_bnr a {
  position: relative;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 50px;
  margin: auto;
  width: 208px;
  height: 48px;
  font-size: 11px;
  font-weight: bold;
}
.foot_contact_bnr a:hover {
  background: #727171;
}
@media only screen and (min-width: 769px) {
  .foot_tel_txt p {
    text-align: left;
  }
  .foot_tel_body {
		width: 60%;
    min-width: 645px;
    max-width: 761px;
    margin: auto;
  }
  .foot_tel_content {
    display: flex;
    align-items: center;
		justify-content: space-between;
  }
  .foot_tel_txt p:nth-child(1) {
    margin: 0;
    font-size: 25px;
  }
  .foot_tel_txt p:nth-child(2) {
    margin: 0;
    font-size: 16px;
  }
  .foot_contact_bnr_wrap {
    margin: 0 0 0 0px;
  }
  .foot_contact_bnr {
    margin: 0;
  }
  .foot_contact_bnr a {
    padding: 0 16px 0 60px;
    width: 260px;
    height: 60px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1401px) {
  .foot_tel_body {
		width: 60%;
    min-width: 645px;
    max-width: 761px;
  }
  .foot_tel_txt p:nth-child(1) {
    font-size: 27px;
  }
  .foot_tel_txt p:nth-child(2) {
    font-size: 18px;
  }
}
/*
フッターコンテンツ
*/
.footer_contents_wrap {
  padding: 35px 0 28px;
  background: linear-gradient(180deg, #cce8e5 0%, #8dccd3 100%);
}
.footer_logo {
  text-align: center;
}
.footer_logo img {
  width: 302px;
  height: 52px;
}
.footer_nav {
  display: none;
}
.copy {
  margin: 40px 0 0;
  text-align: center;
}
.copy small {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}
@media only screen and (min-width: 769px) {
  .footer_contents_wrap {
    padding: 60px 0 42px;
  }
  .footer_nav {
    display: block;
    margin: 30px 0 0;
  }
  .footer_nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer_nav ul li {
    display: inline-block;
    margin: 0 20px 0 0;
    line-height: 2;
  }
  .footer_nav ul li:last-child {
    margin: 0;
  }
  .footer_nav ul li a {
    font-size: 12px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1401px) {
  .footer_logo img {
    width: 367px;
    height: 64px;
  }
  .footer_nav {
    margin: 100px 0 0;
  }
  .footer_nav ul li {
    margin: 0 40px 0 0;
  }
  .footer_nav ul li a {
    font-size: 15px;
  }
  .copy {
    margin: 50px 0 0;
  }
  .copy small {
    font-size: 13px;
  }
}
/* page_body */
.page_body_01 {
  padding: 0 23px;
}
@media only screen and (min-width: 1025px) {
  .page_body_01 {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 1401px) {
  .page_body_01 {
    padding: 0 100px;
  }
}

/* page_body */
.contents_body_01 {
  padding: 0 23px;
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  .contents_body_01 {
    width: 100%;
    padding: 0 5.2%;
  }
}
@media only screen and (min-width: 1721px) {
  .contents_body_01 {
    /*
		max-width: 1720px;
*/
  }
}

/* contents_body */
.contents_body_02 {
  padding: 0 23px;
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  .contents_body_02 {
    padding: 0;
    width: 100%;
    margin: auto;
  }
}
.contents_body_03 {
  padding: 0 23px;
  margin: auto;
}
@media only screen and (min-width: 641px) {
  .contents_body_03 {
    padding: 0 50px 0;
  }
}
@media only screen and (min-width: 1025px) {
  .contents_body_03 {
    width: 80%;
    padding: 0;
  }
}
@media only screen and (min-width: 1600px) {
  .contents_body_03 {
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: 1321px;
  }
}
.contents_body_04 {
  margin: auto;
  padding: 0 20px 0;
}
@media only screen and (min-width: 1025px) {
  .contents_body_04 {
    width: 90%;
    padding: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .contents_body_04 {
    width: 1720px;
  }
}
.contents_wrap {
  margin: auto;
  padding: 0 20px 0;
}
@media only screen and (min-width: 641px) {
  .contents_wrap {
    padding: 0 50px 0;
  }
}
@media only screen and (min-width: 1025px) {
  .contents_wrap {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 1401px) {
  .contents_wrap {
    padding: 0 100px;
  }
}
.contents_body_05 {
  padding: 0 17px;
  margin: auto;
}
.contents_body_06 {
  padding: 0 0px;
  margin: auto;
}
@media only screen and (min-width: 641px) {
  .contents_body_05 {
    padding: 0 30px 0;
  }
  .contents_body_06 {
    padding: 0 30px 0;
  }
}
@media only screen and (min-width: 1025px) {
  .contents_body_05 {
    width: 90%;
    padding: 0;
  }
  .contents_body_06 {
    width: 90%;
    padding: 0;
  }
}
@media only screen and (min-width: 1668px) {
  .contents_body_05 {
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: 1321px;
  }
  .contents_body_06 {
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: 1321px;
  }
}

/* inner */
.inner_01 {
  padding: 50px 0;
}
@media only screen and (min-width: 641px) {
  .inner_01 {
    padding: 64px 0;
  }
}
@media only screen and (min-width: 1025px) {
  .inner_01 {
    padding: 100px 0;
  }
}

/* hero */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pp_page_ttl_wrap {
  margin-top: 50px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ADB5BD;
  position: relative;
  white-space: nowrap;
	display: flex;
	align-items:center;
	justify-content: center;
	width: 100%;
}
.pp_page_ttl_wrap::before {
  content: "";
  border-bottom: 5px solid #60B8CF;
  width : 50px;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.page_ttl {
  margin: auto;
}

.pp_page_ttl_wrap .page_ttl {
	margin: 30px auto 0;
}

.page_ttl_ja {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.page_ttl_en {
  display: block;
  margin: 12px 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
@media only screen and (min-width: 641px) {
  .page_ttl_ja {
    font-size: 28px;
  }
  .page_ttl_en {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1025px) {
  .pp_page_ttl_wrap {
    margin-top: 100px;
    padding: 0 0 50px;
    width: 100%;
  }
  .page_ttl_ja {
    font-size: 34px;
  }
  .page_ttl_en {
    font-size: 20px;
  }
}
/* パンくず */
.breadcrumbs_wrap {
  margin: 10px 0 0;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs_list {
  margin: 0 12px 5px 0;
  font-size: 11px;
  font-weight: bold;
}
.breadcrumbs_list a {
  color: #60b8cf;
}
.breadcrumbs_list.arw_breadcrumbs {
  margin: 0 16px 0 0;
  color: #60b8cf;
}
.submember_breadcrumbs {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #f0f1f0;
}
  .breadcrumbs_wrap_02 {
    margin: 10px 0 0;
    line-height: 1;
  }
@media only screen and (min-width: 641px) {
  .breadcrumbs_wrap {
    margin: 0;
  }
  .submember_breadcrumbs {
    padding: 20px 0 15px;
  }
}
@media only screen and (min-width: 1025px) {
  .breadcrumbs_list {
    margin: 0 14px 0 0;
    font-size: 13px;
  }
  .breadcrumbs_wrap_02 {
    margin: 20px 0 0;
  }
}
@media only screen and (min-width: 1401px) {
  .breadcrumbs_wrap {
    margin: 50px 0 0;
  }
  .breadcrumbs_list {
    font-size: 15px;
  }
  .submember_breadcrumbs {
    padding: 0 0 20px;
  }
}
/*
ページトップ
*/
.page_top a {
  width: 60px;
  height: 60px;
  margin: 0 0 0px;
  display: block;
  background: url(../images/common/page_top.svg) no-repeat;
  background-size: 60px 60px;
}
.page_top {
  position: fixed;
  right: 6%;
  bottom: 30px;
  z-index: 10;
}
.page_top_right {
  right: 60%;
}
@media only screen and (min-width: 641px) {
  .page_top a {
    width: 80px;
    height: 80px;
    margin: 0 0 0px;
    background: url(../images/common/page_top.svg) no-repeat;
    background-size: 80px 80px;
  }
}

/*********/
/* 下部ページタイトル周り　hero */
.hedhero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: calc((100vw - 23px - 23px) * 1.05);
}

.hed_ttlbox {
  margin: auto;
  text-align: center;
  width: 100%;
}

.hed_ttl {
  line-height: 1;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.hed_ttlen {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin: 10px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hedhero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc((100vw - 5.2vw - 5.2vw) * 0.29);
  }

  .hed_ttlbox {
    margin: auto;
  }

  .hed_ttl {
    line-height: 1;
    font-weight: bold;
    color: #fff;
  }

  .hed_ttlen {
    text-align: center;
    font-weight: bold;
    line-height: 1;
    margin: 18px 0 0;
    color: #fff;
  }
}

@media only screen and (min-width: 1025px) {
  .hed_ttl {
    font-size: 34px;
  }

  .hed_ttlen {
    font-size: 20px;
  }
}

/********************/
/* 共通的な矢印アイコン付きボタン */
/********************/
a.combtn {
  position: relative;
  padding: 16px 30px 16px 15px;
  background: #51aac1;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: auto;
  margin: 30px 0 0;
  display: block;
}
a.combtn:hover {
  background: #727171;
}
.arw_icon {
  position: absolute;
  width: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
}
@media only screen and (min-width: 421px) {
  a.combtn {
    font-size: 14px;
    width: 260px;
  }
}
@media only screen and (min-width: 768px) {
  a.combtn {
    padding: 21px 26px 21px 30px;
  }
  .arw_icon {
    width: 10px;
  }
}

/*-------------
		ページ共通
---------------*/
/* member */
.member_ttl_01 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.member_ttl_02 {
  font-size: 14px;
  font-weight: bold;
  color: #60b8cf;
  text-align: center;
  margin: 12px 0 0 0;
  font-style: italic;
}
.member_ttl_03 {
  padding: 0 0 0 16px;
  border-left: 5px solid #51aac1;
  font-size: 18px;
  font-weight: bold;
  margin: 26px 0 0;
}
.member_txt_01 {
  font-size: 18px;
  line-height: 2;
  margin: 30px 0 0 0;
}
.member_btn {
  margin: 20px 0 0 0;
  max-width: 798px;
}
@media only screen and (min-width: 1025px) {
  .member_btn {
    margin: 50px 0 0 0;
  }
}
.member_list_sec {
  margin: 80px 0 0;
}
.member_list_ttl {
  font-size: 18px;
  font-weight: bold;
  background: #F0F1F0;
  margin:  0 0 0 0;
  padding: 25px 30px 18px 30px;
  border-bottom: 1px solid #ADB5BD;
  line-height: 1.3;
}
.member_list_wrap + .member_list_wrap {
  margin: 40px 0 0;
}
.arw_r {
  width: 10px;
  height: 18px;
}
.member_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 0 0;
}
.member_listitem + .member_listitem {
  margin: 20px 0 0;
}
@media only screen and (min-width: 1025px) {
.member_list {
  margin: 50px 0 0;
}
.member_listitem + .member_listitem {
  margin: 30px 0 0;
}
}
.member_listitem {
  width: 100%;
}
.member_img img{
  width: 100%;
}
@media only screen and (min-width: 641px) {
  .member_listitem {
    width: calc(33.3333% - 8% / 3);
  }
  .member_listitem + .member_listitem {
    margin: 0;
  }
  .member_listitem:nth-child(2),
  .member_listitem:nth-child(3)
  {
    margin-left: 4%;
  }
.member_list_wrap + .member_list_wrap {
    margin: 50px 0 0;
  }
}
@media only screen and (min-width: 1025px) {
  .member_ttl_03 {
    padding: 0 0 0 16px;
    font-size: 27px;
    margin: 64px 0 0;
  }
  .member_list_ttl {
    font-size: 27px;
    padding: 37px 64px 28px 64px;

  }
  .member_txt_01 {
    font-size: 20px;
    margin: 20px 0 0 0;
  }
}
@media only screen and (min-width: 1025px) {
  a.member_card {
    display: block;
  }
  a.member_card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .member_img {
    overflow: hidden;
  }
  .member_img img {
    transition: 0.3s all;
  }
  a.member_card:hover .member_img img {
    transform: scale(1.2, 1.2);
    transition: 0.3s all;
  }
}
.member_txtbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 10px 0 0;
}
.member_txtbox p {
  font-size: 17px;
  font-weight: bold;
  max-width: calc(100% - 20px);
}
@media only screen and (min-width: 641px) {
  .member_txtbox {
    margin: 0;
    height: 85px;
    padding: 0 5px;
  }
  .member_txt_02 {
    font-size: calc(11px + (1vw - 6.4px) * 2.6549);
  }
}
@media only screen and (min-width: 868px) {
  .member_ttl_02 {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1025px) {
  .member_txtbox {
    margin: 0;
    height: 100px;
  }
  .member_txtbox p {
    font-size: 20px;
  }
  .member_ttl_01 {
    font-size: 34px;
  }
    .member_ttl_02 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1325px) {
  .member_txtbox {
    padding: 0 23px;
  }
}
@media only screen and (min-width: 1920px) {
  .member_txtbox p {
    font-size: 20px;
  }
}
/* submember */
.ttl_pc_no {
  display: inline-block;
}
.ttl_sp_no {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .ttl_pc_no {
    display: none;
  }
  .ttl_sp_no {
    display: inline-block;
  }
}
/* ページタイトル */
.menber_band {
  line-height: 40px;
  height: 40px;
  padding: 0 0 0 5.333%;
  background: #8dccd3;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.submember_bg {
  background: url(../images/common/cross_bg.png);
  height: 166px; /*height変更*/
}
.submember_bg .page_ttl h1 {
  line-height: 1.5;
  text-align: center;
}
.submember_bg .page_ttl_ja {
  color: #000;
}
.submember_bg .page_ttl_en {
  color: #60b8cf;
}
@media only screen and (min-width: 641px) {
  .submember_bg {
    height: 266px; /*height変更*/
  }
}
/* コンテンツ */
.submember {
  padding: 50px 0 80px;
}
.submember + .submember {
  padding: 0 0 80px;
}
@media only screen and (min-width: 1025px) {
  .menber_band {
    line-height: 60px;
    height: 60px;
    padding: 0 0 0 6.777%;
    background: #8dccd3;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  .submember {
    padding: 50px 0 100px;
  }
  .submember + .submember {
    padding: 0 0 100px;
  }
}
.submember_ttl {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #60b8cf;
  padding: 0 0 14.5px;
  line-height: 1.5;
}

/* submemer_contents_box */
.submemer_contents_box {
  padding: 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 641px) {
  .submemer_contents_box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1025px) {
  .submemer_contents_box {
    padding: 100px 0 0;
  }
  .submember_ttl {
    font-size: 27px;
  }
}

/* text_wrap */
.submember .submember_pdf {
  width: 50%;
  min-width: 200px;
}
.submember .submember_pdf img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.submember .text_wrap {
  padding: 40px 0 0;
  width: 100%;
}
.submember .text_box_lead {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 20px;
}
.submember .text02 .text_box_lead {
  padding: 20px 0 10px;
}
.submember .text_box_ttl {
  background-color: #51aac1;
  padding: 20px 28px 15px 28px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.submember .text_box {
  border: 1px solid #51aac1;
  border-radius: 10px;
  overflow: hidden;
}
.submember .text_box ul,
.submember .text_box_txt {
  padding: 20px 30px 30px;
}
.submember .text_box li {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
}
.submember .text_box li + li {
  margin: 16px 0 0;
}
.submember .text_box li::before {
  background: #51aac1;
  content: "";
  height: 9px;
  width: 9px;
  display: block;
  margin: 0 17px 0 0;
  flex-shrink: 0;
}
.submember .text_box li .text_box_underline {
  display: inline;
  background: linear-gradient(transparent 90%, #bcc601 0%);
  padding: 0 0 2px;
}
_:-ms-fullscreen,
:root .submember .text_box li .text_box_underline {
  background: linear-gradient(
    rgba(255, 0, 255, 0) 0%,
    rgba(255, 0, 255, 0) 80%,
    #bcc601 80%,
    #bcc601 90%,
    rgba(255, 0, 255, 0) 90%
  );
}

@media only screen and (min-width: 641px) {
  .submember .submember_pdf {
    width: 31%;
  }
  .submember .text_wrap {
    width: 60.6%;
    padding: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .submember .text_box_lead {
    font-size: 20px;
    padding: 0 0 30px;
  }
  .submember .text02 .text_box_lead {
    padding: 30px 0 20px;
  }
  .submember .text_box_ttl {
    font-size: 20px;
    padding: 24px 40px;
  }
  .submember .text_box ul,
  .submember .text_box_txt {
    padding: 30px 50px 45px;
  }
  .submember .text_box li {
    font-size: 20px;
  }
  .submember .text_box li + li {
    margin: 20px 0 0;
  }
  .submember .text_box li::before {
    height: 12px;
    width: 12px;
    margin: 0 20px 0 0;
  }
}

/* リストのカウント */
ul.numbering {
  counter-reset: number 0;
  padding: 30px 0;
}
ul.numbering li.numbering_list {
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 15px;
}
ul.numbering li.numbering_list + li.numbering_list {
  padding: 15px 0;
}
ul.numbering li p.list_ttl:before {
  counter-increment: number 1;
  content: counter(number) ".";
  font-family: "Overpass", sans-serif;
  font-style: italic;
  color: #60b8cf;
  margin: 0 10px 0 0;
}
ul.numbering p.list_ttl {
  font-size: 14px;
  font-weight: bold;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
ul.numbering p.list_ttl + p,
ul.numbering p.list_ttl + .list_mark_circle {
  margin: 10px 0 0;
}
@media only screen and (min-width: 1025px) {
  ul.numbering {
    padding: 60px 0 50px;
  }
  ul.numbering li.numbering_list {
    border-bottom: 1px solid #eeeeee;
    padding: 0 0 20px;
  }
  ul.numbering li.numbering_list + li.numbering_list {
    padding: 20px 0;
  }
  ul.numbering p.list_ttl {
    font-size: 20px;
  }
  ul.numbering li.numbering_list p.list_ttl:before {
    margin: 0 1em 0 0;
  }
  ul.numbering p.list_ttl + p {
    margin: 20px 0 0;
  }
}
/* リストの「・」 */
.list_mark_circle li:before {
  background: #51aac1;
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  margin: 0 10px 0 0;
  border-radius: 50%;
  flex-shrink: 0;
}
.list_mark_circle li {
  display: flex;
  align-items: baseline;
}
.list_mark_circle li + li {
  padding: 10px 0 0;
}

.list_mark_circle_items {
  padding-top: 10px;
}

/* PDFダウンロード */
.submember a.download_link {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 40px 15px 20px;
}
a.download_link:nth-child(n+2) {
  margin: 20px 0 0;
}
.submember .download_link img {
  vertical-align: middle;
}
.submember .download_link_pdf img {
  margin: 0 10px 0 0;
}
.submember .download_link_download {
  position: relative;
  color: #51aac1;
  transition: all 1s ease-out;
}
.submember .download_link_download img {
  position: absolute;
  transition: opacity 1s ease-out;
  margin: 0 0 0 8px;
}
.submember .download_link_download_icon_on {
  z-index: 2;
}
.member_btn a.download_link {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 40px 15px 20px;
  flex-direction: column;
}
@media only screen and (min-width: 440px) {
.member_btn a.download_link {
  flex-direction: row;
}
}
.member_btn .download_link img {
  vertical-align: middle;
}
.member_btn .download_link_pdf img {
  margin: 0 10px 0 0;
}
.member_btn .download_link_download {
  position: relative;
  color: #51aac1;
  transition: all 1s ease-out;
  align-self: flex-end;
}
.member_btn .download_link_download img {
  position: absolute;
  transition: opacity 1s ease-out;
  margin: 0 0 0 8px;
}
.member_btn .download_link_download_icon_on {
  z-index: 2;
}
@media only screen and (min-width: 376px) {
  .submember a.download_link {
    font-size: 14px;
    padding: 19px 50px 19px 30px;
  }
  .submember .download_link_pdf img {
    margin: 0 15px 0 0;
  }
  .submember .download_link_download img {
    margin: 0 0 0 10px;
  }
  .member_btn a.download_link {
    font-size: 14px;
    padding: 19px 50px 19px 30px;
  }
  .member_btn .download_link_pdf img {
    margin: 0 15px 0 0;
  }
  .member_btn .download_link_download img {
    margin: 0 0 0 10px;
  }
}
@media only screen and (min-width: 1025px) {
  .submember a.download_link:hover {
    background-color: #51aac1;
    color: #fff;
  }
  .submember a.download_link:hover img.download_link_download_icon_on {
    opacity: 0;
  }
  .submember a.download_link:hover .download_link_download {
    color: #fff;
  }
  .member_btn a.download_link:hover {
    background-color: #51aac1;
    color: #fff;
  }
  .member_btn a.download_link:hover img.download_link_download_icon_on {
    opacity: 0;
  }
  .member_btn a.download_link:hover .download_link_download {
    color: #fff;
  }
}
/* 余白を追加 */
.mt_s {
  margin: 30px 0 0;
}
@media only screen and (min-width: 1025px) {
  .mt_s {
    margin: 50px 0 0;
  }
}
/* retiree */
.retiree_ttl {
  margin: 0 14px 0 0;
  line-height: 1.5;
}
.retiree_subtxt {
  position: relative;
  padding-left: 26px;
}
.retiree_subtxt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 14px;
  height: 11px;
  background: url(../images/group-insurance/member/retiree/retiree_arw_r.svg)
    no-repeat top left/14px 11px;
}
@media only screen and (min-width: 421px) {
  .retiree_ttl {
    width: 10em;
    margin: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .retiree_subtxt::before {
    width: 18px;
    height: 14px;
    background: url(../images/group-insurance/member/retiree/retiree_arw_r.svg)
      no-repeat top left/18px 14px;
  }
}

span.ilbk {
  display: inline-block;
}
/*---------ここまでmemberページ共通css-------------*/
/* ログインボタン */
.member_login {
  display: none;
}
.member_login .login_txt {
  margin: 0 0 3px;
  line-height: 1;
}
@media only screen and (min-width: 1025px) {
  .member_login {
    position: absolute;
    top: 20px;
    right: 200px;
    display: block;
  }
  .member_login .login_txt {
    display: block;
    font-size: 12px;
    font-weight: bold;
  }
  .member_login a.login_btn {
    position: relative;
    display: block;
    width: 220px;
    height: 30px;
    padding: 6px 30px;
    background: #51AAC1;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
  .member_login a.login_btn:hover {
    background: #727171;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 1025px){
  .member_login a.login_btn {
    padding: 8px 30px 4px;
  }
}
@media only screen and (min-width: 1401px) {
  .member_login {
    top: 22px;
    right: 250px;
  }
  .member_login .login_txt {
    font-size: 14px;
  }
  .member_login a.login_btn {
    width: 260px;
    height: 40px;
    padding: 9px 30px 11px;
    font-size: 14px;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 1401px){
  .member_login a.login_btn {
    padding: 12px 30px 8px;
  }
}
@media print {
	.header_contents{
		display: none;
	}
	a.nav_btn{
		display: none;
	}
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : visible;
}
.nano > .nano-content {
  position      : static;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
	.nano > .nano-pane > .nano-slider{
		display: none;
	}
}

.submember .text_box .blockitem_01::before {
	background: #51aac1;
	content: "";
	height: 13px;
	width: 13px;
	display: block;
	margin: 0 10px 0 0;
	flex-shrink: 0;
}
.submember .text_box .blockitem_02::before {
	background:none;
	line-height: 1;
	font-size: 12px;
}
.submember .text_box .blockitem_01 {
	font-size: 17px;
}
.submember .text_box .blockitem_02 {
	font-size: 15px;
	font-weight: normal;
}
.submember .text_box .blockitem_02 + .blockitem_02 {
	margin: 10px 0 0;
}
.blocklist_02 {
	margin: 10px 0 0;
}
@media only screen and (min-width: 769px) {
	.submember .text_box .blockitem_02 br {
		display: none;
	}
}
@media only screen and (min-width: 1025px) {
	.submember .text_box .blockitem_01::before {
		height: 16px;
		width: 16px;
		margin: 0 17px 0 0;
	}
	.submember .text_box .blockitem_01 {
		font-size: 20px;
	}
	.submember .text_box .blockitem_02 {
		font-size: 18px;
	}
	.blocklist_02 {
		margin: 20px 0 0;
	}	
}