@charset "UTF-8";

.hedhero{
	background-image: url("../images/contact/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/contact/hero_pc.jpg");
	}
}

@media(min-width: 768px){
	a[href^="tel:"]{
		pointer-events: none;
	}
}

.contact_wrap{
	margin: 50px 0 0;
}

.contact_wrap:nth-child(1){
	margin: 0;
}

.cttl{
	line-height: 70px;
	background: #F0F1F0;
	font-size: 18px;
	font-weight: bold;
	padding: 0 1.5em;
}

.contact_conwrap{
	border-top: 1px solid #ADB5BD;
	padding: 25px 0 0;
	margin: 50px 0 0;
}

.contact_conwrap:first-of-type{
	margin: 0;
}

.c_info {
	font-size: 14px;
}

.c_subttl{
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	padding: 0 0 0 8px;
	border-left: 3px solid #51AAC1;
	margin: 10px 0 0;
}

@media all and (-ms-high-contrast: none){
  .c_subttl{
    padding: 3px 0 0 8px;
  }
}

.c_add{
	font-weight: bold;
	font-size: 14px;
	margin: 15px 0 0;
}

.c_menu{
	margin: 15px 0 0;
	width: 100%;
	max-width: 406px
}

.cblue{
	background: #51AAC1;
}

.cgreen{
	background: #BCC601;
}

.c_item,
a.c_link_green{
	position: relative;
	display: flex;
	justify-content: center;
	padding:  6px 15px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

.c_item{
	margin: 0 0 10px;
}

.c_btinfo{
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5em;
}

.icon_plus{
	position: absolute;
	width: 18px;
	right: 7px;
	top: calc( 50% - 9px );
}

.icon_ext{
	position: absolute;
	width: 12px;
	right: 16px;
	top: calc( 50% - 4px );
}

.c_windowinfobox{
	width: 100%;
	max-width: 406px;
	margin: 15px 0 0;
}

.c_windowinfo_name{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #60B8CF;
}

.c_windowinfo_tel{
	font-size: 20px;
	font-weight: bold;
	color: #60B8CF;
	margin: 10px 0 0;
	font-style: italic;
}

a.taptel{
	color: #60B8CF;
	font-style: italic;
}

a.c_link_green{
	background: #BCC601;
	margin: 15px 0 0;
}

@media(min-width: 768px){
	.contact_wrap{
		margin: 100px 0 0;
	}

	.cttl{
		line-height: 100px;
		background: #F0F1F0;
		font-size: 20px;
		font-weight: bold;
		padding: 0 54px;
	}

	.contact_conwrap{
		border-top: 1px solid #ADB5BD;
		padding: 50px 0 0;
		margin: 100px 0 0;
	}

	.contact_conwrap:first-of-type{
		margin: 0;
	}

	.c_subttl{
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		padding: 0 0 0 16px;
		border-left: 5px solid #51AAC1;
		margin: 20px 0 0;

	}

	.c_add{
		font-weight: bold;
		font-size: 16px;
		margin: 30px 0 0;
	}

	.c_menu{
		margin: 30px 0 0;
		width: 406px;
	}

	.cblue{
		background: #51AAC1;
	}

	.cgreen{
		background: #BCC601;
	}

	.c_item,
	a.c_link_green{
		position: relative;
		display: flex;
		justify-content: center;
		padding:  11px 30px;
		cursor: pointer;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
	}

	.c_item{
		margin: 0 0 10px;
	}

	.c_btinfo{
		font-size: 12px;
		font-weight: bold;
		line-height: 18px;
	}

	.icon_plus{
		position: absolute;
		width: 24px;
		right: 7px;
		top: calc( 50% - 12px );
	}

	.icon_ext{
		position: absolute;
		width: 15px;
		right: 16px;
		top: calc( 50% - 6px );
	}

	.c_windowinfobox{
		width: 406px;
		margin: 30px 0 0;
	}

	.c_windowinfo_name{
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 20px;
		border-bottom: 1px solid #60B8CF;
	}

	.c_windowinfo_tel{
		font-size: 20px;
		font-weight: bold;
		color: #60B8CF;
		margin: 20px 0 0;
		font-style: italic;
	}

	a.taptel{
		color: #60B8CF;
		font-style: italic;
	}

	a.c_link_green{
		background: #BCC601;
		margin: 30px 0 0;
	}
}

@media all and (-ms-high-contrast: none) and (min-width: 769px){
  .c_subttl{
    padding: 8px 0 0 16px;
  }
}

@media(min-width: 1025px){
	.contact_wrap{
		margin: 100px 0 0;
	}

	.cttl{
		line-height: 100px;
		background: #F0F1F0;
		font-size: 27px;
		font-weight: bold;
		padding: 0 54px;
	}

	.contact_conwrap{
		border-top: 1px solid #ADB5BD;
		padding: 50px 0 0;
		margin: 100px 0 0;
	}

	.contact_conwrap:first-of-type{
		margin: 0;
	}

	.c_info {
		font-size: 20px;
	}

	.c_subttl{
		font-weight: bold;
		font-size: 27px;
		line-height: 30px;
		padding: 0 0 0 16px;
		border-left: 5px solid #51AAC1;
		margin: 20px 0 0;

	}

	.c_add{
		font-weight: bold;
		font-size: 20px;
		margin: 30px 0 0;
	}

	.c_menu{
		margin: 30px 0 0;
		width: 406px;
	}

	.cblue{
		background: #51AAC1;
	}

	.cgreen{
		background: #BCC601;
	}

	.c_item,
	a.c_link_green{
		position: relative;
		display: flex;
		justify-content: center;
		padding:  11px 30px;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
	}

	.c_item{
		margin: 0 0 10px;
	}

	.c_btinfo{
		font-size: 14px;
		font-weight: bold;
		line-height: 18px;
	}

	.icon_plus{
		position: absolute;
		width: 24px;
		right: 7px;
		top: calc( 50% - 12px );
	}

	.icon_ext{
		position: absolute;
		width: 15px;
		right: 16px;
		top: calc( 50% - 6px );
	}

	.c_windowinfobox{
		width: 406px;
		margin: 30px 0 0;
	}

	.c_windowinfo_name{
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 10px;
		border-bottom: 1px solid #60B8CF;
	}

	.c_windowinfo_tel{
		font-size: 25px;
		font-weight: bold;
		color: #60B8CF;
		margin: 10px 0 0;
		font-style: italic;
	}

	a.taptel{
		color: #60B8CF;
		font-style: italic;
	}

	a.c_link_green{
		background: #BCC601;
		margin: 30px 0 0;
	}
}

@media all and (-ms-high-contrast: none) and (min-width: 1025px){
  .c_subttl{
    padding: 8px 0 0 16px;
	}
	.c_item,
	a.c_link_green{
		padding: 14px 30px 8px;
	}
}

/* モーダルの内部デバッグ用　デバッグ時 block */
.dialog_nodisp{
	display: none;
}



/*************************************************/
/* モーダル内部の装飾 */
/*************************************************/
.modalcon_wrap{
	padding: 35px 1em 35px;
	width: 100%;
}
.tb_ttl{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5em;
	padding: 0 0 10px;
	border-bottom: 1px solid #60B8CF;
}

.tb_wrap{
	margin: 20px 0 0;
}

.sp_table{
	margin: 0 0 20px;
}

.spth{
	padding: calc( ( 40px - 1.5em ) * 0.5 ) 1em;
	text-align: center;
	font-weight: bold;
}

.spth:first-of-type{
	border-radius: 5px 5px 0 0;
}

.sptd{
	padding: calc( ( 40px - 1.5em ) * 0.5 ) 1em;
	text-align: center;
	border-left: 1px solid #ADB5BD;
	border-right: 1px solid #ADB5BD;
}

.btop{
	border-top: 1px solid #ADB5BD;
}

.sptd:last-of-type{
	border-bottom: 1px solid #ADB5BD;
	border-radius: 0 0 5px 5px;
}


.tb_blue .spth{
	background: #51AAC1;
	border-left: 1px solid #51AAC1;
	border-right: 1px solid #51AAC1;
	color: #fff;
}

.tb_green .spth{
	background: #BCC601;
	border-left: 1px solid #BCC601;
	border-right: 1px solid #BCC601;
	color: #fff;
}

.tb_green a.taptel,
.tb_blue a.taptel{
	font-family: "Overpass", sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #51AAC1;
	font-weight: bold;
}

.tb_small{
	font-size: 10px;
}

.tb_bold{
	font-weight: bold;
}

.tb_green a.taptel{
	color : #BCC601;
}

.tb_ttl_green{
	border-bottom-color: #BCC601;
}

/* テーブルのONOFF */
.tb_sp{
	display: block;
}
.chg_tb{
	display: none;
}

a.tokio_url {
	text-decoration: underline;
}

@media only screen and (min-width: 768px) {

	.tb_sp{
		display: none;
	}
	.chg_tb{
		display: table;
	}

}

@media only screen and (min-width: 768px) {
	.modalcon_wrap{
		padding: 70px 4.848484% 170px;
		width: 100%;
	}

	.tb_ttl{
		font-size: 24px;
		font-weight: bold;
		line-height: 2em;
		padding: 0 0 22px;
		border-bottom: 1px solid #60B8CF;
	}

	.tb_wrap{
		margin: 40px 0 0;
	}

	.tb_blue{
	}

	table{
		border-collapse: separate;
		border-spacing:0px;
		width: 100%;
	}

	/* ワードブレイクリセットのリセット */
	table th, table td{
		white-space: normal;
	}

	.tb_blue .ctb_th{
		background: #51AAC1;
	}

	.tb_blue .ctb_th:nth-of-type(1){
		width: 27.47899%;
	}
	.tb_blue .ctb_th:nth-of-type(2){
		width: 43.69747%;
	}
	.tb_blue .ctb_th:nth-of-type(3){
		width: 28.7394%;
	}

	.tb_green tr:nth-of-type(2) .ctb_td:nth-of-type(1){
		width: 27.47899%;
	}
	.tb_green tr:nth-of-type(2) .ctb_td:nth-of-type(2){
		width: calc( 43.69747% * 0.5 );
	}
	.tb_green tr:nth-of-type(2) .ctb_td:nth-of-type(3){
		width: calc( 43.69747% * 0.5 );
	}
	.tb_green tr:nth-of-type(2) .ctb_td:nth-of-type(4){
		width: 28.7394%;
	}



	.ctb_th,
	.ctb_td{
		line-height: 1.5em;
		padding: calc( ( 60px - 1.5em ) * 0.5 ) 1em;
		text-align: center;
		font-size: 16px;
	}

	.ctb_th{
		color: #fff;
		border-left: 1px solid #fff;
	}

	.ctb_td{
		border-left: 1px solid #ADB5BD;
		border-bottom: 1px solid #ADB5BD;
		border-top:none;
	}

	.tb_bold{
		font-weight: bold;
	}

	.tb_green a.taptel,
	.tb_blue a.taptel{
		font-size: 22px;
	}

	.ctb_th:first-of-type{
		border-radius: 10px 0 0 0;
		border-left: 1px solid #51AAC1;
	}
	.ctb_th:last-of-type{
		border-radius: 0 10px 0 0;
		border-right: 1px solid #51AAC1;
	}

	.second_tb tr .ctb_td:last-of-type{
		border-right: 1px solid #ADB5BD;
	}
	tr.no_border_right .ctb_td:last-of-type{
		border-right:none;
	}

	tr:last-of-type .ctb_td:first-of-type{
		border-radius: 0 0 0 10px;
	}
	tr:last-of-type .ctb_td:last-of-type{
		border-radius: 0 0 10px 0;
		border-right: 1px solid #ADB5BD;
	}

	.tb_green .ctb_th{
		background: #BCC601;
	}

	.tb_green .ctb_th:first-of-type{
		border-left: 1px solid #BCC601;
	}
	.tb_green .ctb_th:last-of-type{
		border-right: 1px solid #BCC601;
	}

	.tb_green a.taptel{
		color : #BCC601;
	}

	.tb_green_radius tr:last-of-type .ctb_td:last-of-type{
		border-radius: 0;
		border-right: none;
	}

	.tb_green_radius tr:nth-of-type(2) .ctb_td:last-of-type{
		border-radius: 0 0 10px 0;
		border-right: 1px solid #ADB5BD;
	}

	.tb_ttl_green{
		border-bottom-color: #BCC601;
	}

	.tb_small{
		font-size: 12px;
	}
}



@media only screen and (min-width: 1025px) {

	.tb_ttl{
		font-size: 27px;
		line-height: 35px;
		padding: 0 0 22px;
	}


	.ctb_th,
	.ctb_td{
		padding: calc( ( 80px - 1.5em ) * 0.5 ) 1em;
		font-size: 20px;
	}

	.tb_green a.taptel,
	.tb_blue a.taptel{
		font-size: 25px;
	}

	.tb_small{
		font-size: 14px;
	}


}



