@charset "UTF-8";
.page_ttl_ja {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    line-height: 2;
}
.pp_page_ttl_en {
    display: block;
    margin: 12px 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #60B8CF;
}
.pp_subtxt {
    line-height: 2;
}
.pp_subtxt + .pp_box {
  margin: 30px 0 0;
}
.pp_box {
  padding: 30px;
  background-color: #F0F1F0;
}
.pp_box + .pp_box{
  margin: 30px 0 0;
}
.pp_box_ttl {
  font-size: 14px;
  font-weight: bold;
}
.pp_box p {
  margin-top: 20px;
  line-height: 2;
}
@media screen and (min-width: 480px) {
  .tb_br {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .page_ttl_ja {
    font-size: 34px;
  }
  .pp_page_ttl_en {
    font-size: 20px;
  }
  .pp_subtxt {
    line-height: 2;
}
.pp_subtxt + .pp_box {
  margin: 67px 0 0;
}
.pp_box {
  padding: 60px 64px 50px;
}
.pp_box + .pp_box{
  margin: 30px 0 0;
}
.pp_box_ttl {
  font-size: 20px;
}
.pp_box p {
  margin-top: 30px;
  line-height: 2;
}
}
.pp_subtxt li+li {
  margin: 35px 0 0;
}
/* hp_list */
.hp_list_wrap {
  line-height: 2;
}
.hp_list_wrap li span {
  display: block;
}

@media screen and (min-width: 651px) {
  .hp_list_wrap li {
    display: flex;
    flex-wrap: wrap;
  }
  .hp_list_wrap li span:first-child {
    margin: 0 2em 0 0;
  }
}
@media screen and (min-width: 961px) {
  .hp_list_wrap li span:first-child {
    margin: 0 5em 0 0;
  }
}

/* list_number */
.list_number_wrap>li {
  display: flex;
  margin: 5px 0 0;
}
.list_number_wrap li:first-child {
  margin: 0;
}
.list_number_txt {
  margin: 0 0 0 1em;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .list_number_wrap li {
    margin: 10px 0 0;
  } 
.list_number_txt {
    margin: 0 0 0 30px;
  }
}
/* pp_list_link */
a.pp_list_link {
  font-weight: bold;
  text-decoration: underline;
}