@charset "UTF-8";

.hedhero{
	background-image: url("../images/faq/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/faq/hero_pc.jpg");
	}
}


.faqwrap{
	padding: 50px 0;
}

.faq_item {
	padding-bottom: 23px
}
.faq_item:last-of-type {
	padding-bottom: 0;
}
.faqbt {
	display: flex;
	justify-content: flex-start;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	padding: 15px 0;
	padding-right: 14%;
	cursor: pointer;
	background: #EEEEEE;
}
.faq_q, .faq_a {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: .096em;
	width: 1.6em;
	padding: 0 0 0 .5em;
}

.faq_q{
	color: #60B8CF;
}

.faq_a{
	color: #BCC601;
	line-height: 1.5;
}


.faq_q_txt {
	width: calc(100% - 2.5em);
}
.faq_a_txt {
	width: calc(100% - 2.5em);
}
.faq_a_txt p {
	font-size: 13px
}
.faq_a_txt p + p {
	margin: 30px 0 0 0
}
.faqans {
	display: flex;
	justify-content: flex-start;
	font-size: 13px;
	line-height: 2;
	padding: 20px 0 0
}

.yn_info{
	font-size: 13px;
	font-weight: bold;
	margin: 30px 0 0;
	text-align: center;
}

.yesnobox{
	display: flex;
	justify-content: space-between;
	margin: 30px auto 0;
	width: 100%;
}

a.ynbtn{
	border: 1px solid #51AAC1;
	width: 48.7951%;
	height: 30px;
	line-height: calc( 30px - 2px);
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

a.yes_type{
	background:  #51AAC1;
	color: #fff;
}

a.no_type{
	color: #51AAC1;
}


@media only screen and (min-width: 769px) {
	#sec_content02 .tg_area {
		padding: 0 0 28px;
	}

	.faqwrap{
		padding: 100px 0;
	}

	.faq_item {
		padding-bottom: 21px
	}
	.faq_item:last-of-type {
		padding-bottom: 0;
	}
	.faqbt {
		display: flex;
		justify-content: flex-start;
		font-size: 13px;
		font-weight: bold;
		line-height: 36px;
		padding: 12px 0;
		padding-right: 6%;
		cursor: pointer;
		background: #EEEEEE;
	}
	.faq_q, .faq_a {
		font-size: 24px;
		font-style: italic;
		font-weight: bold;
		letter-spacing: .096em;
		width: 2.5em;
		padding: 0 0 0 20px;
	}

	.faq_q{
		color: #60B8CF;
	}

	.faq_a{
		color: #BCC601;
	}


	.faq_q_txt {
		width: calc(100% - 2.5em);
	}
	.faq_a_txt {
		width: calc(100% - 2.5em);
	}
	.faq_a_txt p {
		font-size: 13px
	}
	.faq_a_txt p + p {
		margin: 30px 0 0 0
	}
	.faqans {
		display: flex;
		justify-content: flex-start;
		font-size: 13px;
		line-height: 36px;
		padding: 30px 0 0
	}

	.yn_info{
		font-size: 13px;
		font-weight: bold;
		margin: 50px 0 0;
		text-align: center;
	}

	.yesnobox{
		display: flex;
		justify-content: space-between;
		margin: 30px auto 0;
		width: 570px;
	}

	a.ynbtn{
		border: 1px solid #51AAC1;
		width: 260px;
		height: 40px;
		line-height: calc( 40px - 2px);
		text-align: center;
		font-size: 12px;
		font-weight: bold;
	}

	a.yes_type{
		background:  #51AAC1;
		color: #fff;
	}
	
	a.ynbtn:hover{
		border-color: #727171;
		background: #727171;
	}

	a.no_type{
		color: #51AAC1;
	}
	a.no_type:hover{
		color: #fff;
	}
}

@media only screen and (min-width: 1025px) {

	.faqbt {
		font-size: 18px;
	}
	.faq_q, .faq_a {
		font-size: 30px;
	}
	.faq_a_txt p {
		font-size: 18px
	}
	.faqans {
		font-size: 20px;
	}
	.yn_info{
		font-size: 18px;
	}
	a.ynbtn{
		font-size: 14px;
	}

}

.tg_bt {
	position: relative
}
.tg_bt i {
	position: absolute;
	transform: translate(-25px, 0);
	margin-top: 0;
	right: 0;
	top: calc(50% - 15px)
}
.tg_bt i:before, .tg_bt i:after {
	content: "";
	position: absolute;
	background-color: #60B8CF;
	width: 2px;
	height: 12px;
	transition: all .25s ease-in-out
}
.tg_bt i:before {
	transform: translate(-5px, 9px) rotate(45deg)
}
.tg_bt i:after {
	transform: translate(3px, 9px) rotate(-47deg)
}
.tg_bt.close i:before {
	transform: translate(3px, 9px) rotate(45deg)
}
.tg_bt.close i:after {
	transform: translate(-5px, 9px) rotate(-45deg)
}

@media only screen and (min-width: 1025px) {
	.tg_bt i {
		transform: translate(-28px, 0);
		margin-top: 0;
		right: 1%;
		top: calc(50% - 17px)
	}
	.tg_bt i:before, .tg_bt i:after {
		height: 14px;
	}
	.tg_bt i:before {
		transform: translate(-6px, 9px) rotate(45deg)
	}
	.tg_bt i:after {
		transform: translate(4px, 9px) rotate(-47deg)
	}
	.tg_bt.close i:before {
		transform: translate(4px, 9px) rotate(45deg)
	}
	.tg_bt.close i:after {
		transform: translate(-6px, 9px) rotate(-45deg)
	}
}
