@charset "UTF-8";

.group-insurance{
	line-height: 2em;
}

@media only screen and (min-width: 769px) {
	.group-insurance{
		line-height: 2em;
	}
}

.hedhero{
	background-image: url("../images/group-insurance/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/group-insurance/hero_pc.jpg");
	}
}


/*********/
/* 傷害医療保険課 */

.conhed_bg{
	background: url("../images/group-insurance/img01_sp.jpg") no-repeat center center/cover;
}


@media only screen and (min-width: 768px) {

	.conhed_bg{
		background: url("../images/group-insurance/img01_pc.jpg") no-repeat center center/cover;
	}

}



