@charset "utf-8";
/* 取扱保険 ここから */
 #sec02 {
  position: relative;
}
.insurance_bg_wrap {
  padding: 0 0 50px;
}
.insurance_bg {
  background: linear-gradient(180deg, #cce8e5 0%, #8dccd3 100%) no-repeat;
  background-position: top 166px center;
}
@media only screen and (min-width: 641px) {
  .insurance_bg {
    background-size: 100% 52%;
    background-position: bottom;
  }
}
@media only screen and (min-width: 1025px) {
  .insurance_bg {
    background-size: 100% 57%;
  }
  .insurance_bg_wrap {
  padding: 0 0 100px;
  }
}
@media only screen and (min-width: 1301px) {
  .insurance_bg {
    background-size: 100% 62%;
  }
}
.inner_insurancetype {
  padding: 50px 0 28px;
}
@media only screen and (min-width: 1025px) {
  .inner_insurancetype {
    padding: 100px 0 70px;
  }
}
.insurancetype_ttl_01 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.insurancetype_ttl_02 {
  font-size: 14px;
	font-style: italic;
  font-weight: bold;
  color: #60b8cf;
  text-align: center;
  margin: 5px 0 0 0;
}
.arw_r {
  width: 8px;
  height: 14px;
}

.insurancetype_attention {
  margin: 50px 0 0 0;
}

@media only screen and (min-width: 1025px) {
  .arw_r {
    width: 10px;
    height: 18px;
  }
}
.insurancetype_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.insurancetype_listitem {
  width: 100%;
}
.insurancetype_listitem + .insurancetype_listitem {
  margin: 20px 0 0;
}
@media only screen and (min-width: 641px) {
  .insurancetype_listitem {
    width: 39%;
  }
  .insurancetype_listitem + .insurancetype_listitem {
    margin: 0 0 0 50px;
  }
}
.insurancetype_img img {
  width: 100%;
  vertical-align: bottom;
}
@media only screen and (min-width: 1025px) {
  a.insurancetype_card {
    display: block;
  }
  a.insurancetype_card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .insurancetype_img {
    overflow: hidden;
  }
  .insurancetype_img img {
    transition: 0.3s all;
  }
  a.insurancetype_card:hover .insurancetype_img img {
    transform: scale(1.2, 1.2);
    transition: 0.3s all;
  }
}
.insurancetype_txtbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  background: #fff;
}
@media only screen and (min-width: 641px) {
  .insurancetype_txtbox {
  padding: 10px 6px 10px 6px;
}
}
@media only screen and (min-width: 694px) {
  .insurancetype_txtbox {
  padding: 10px 10px 10px 20px;
}
}
.insurancetype_txtbox p {
  font-size: 14px;
  font-weight: bold;
}
@media only screen and (min-width: 1025px) {
  .insurancetype_txtbox p {
    font-size: calc(14px + (1vw - 10.2px) * 1.2632);
  }
  .insurancetype_ttl_01 {
    font-size: 34px;
  }
  .insurancetype_ttl_02 {
    font-size: 20px;
	  margin: 12px 0 0 0;
  }
  .insurancetype_txtbox {
    padding: 29px 22px 25px 20px;
  }
}
@media only screen and (min-width: 1501px) {
  .insurancetype_txtbox p {
    font-size: 20px;
  }
}