@charset "UTF-8";

.news{
	line-height: 2em;
}

.hedhero{
	background-image: url("../images/news/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/news/hero_pc.jpg");
	}
}


.news_wrap{
	padding: 50px 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.single .news_wrap{
	border-top: 1px solid #EEEEEE;
}

.article_list{
	width: 100% ;
	max-width: auto;
}
.breadcrumbs_line{
	width: 100%;
	height: 1px;
	background: #EEEEEE;
	margin: 10px 0 0;
}

.news_single_wrap{
	padding: 0px;
}

.post_list{
	margin: -20px 0 0 ;
}


.post_list li .news_item{
	border-bottom: 1px solid #60B8CF;
	padding: 20px 20px 10px 0;
	position: relative;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: center;
}

.news_icon{
	position: absolute;
	width: 8px;
	top: 50%;
	-webkit-transform : translateY(-50%);
	transform : translateY(-50%);
	right: 0px;
}

.post_date{
	font-size: 11px;
	font-weight: bold;
	color: #ADB5BD;
}

.post_cat{
  min-width: 68px;
	padding: 3px 5px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 10px;
	background: #BCC601;
	color: #fff;
	line-height: 1.5;
/*
	width: 6em;
*/
	min-width: 8em;
	text-align: center;
	margin: 0 0 0 16px;
}


.post_ttl{
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 0 0;
	width: 100%;
}

.page_nav_wrap{
	display: flex;
	flex-flow: row; 
	justify-content: center;
	margin: 20px 0 0 ;
}

.page_nav_wrap .wp-pagenavi {
	display: flex;
	flex-flow: row;
}

.page_nav_wrap .wp-pagenavi span.pages{
	display: none;
}


.page_nav_wrap .wp-pagenavi a, .page_nav_wrap .wp-pagenavi span {
	width: 30px;
	height: 30px;
	display: flex;
/*
	justify-content: center;
*/
	padding-left: 7px;
	align-items: center;
	border: 2px solid #60B8CF;
	color: #60B8CF;
	transition: all 1s ease-out;
	margin: 0 0 0 8px;
	font-style: italic;
	font-size: 15px;
	font-weight: bold;
}

.page_nav_wrap .wp-pagenavi span {
	color: #fff;
}


.page_nav_wrap .wp-pagenavi span {
	background: #60B8CF;
}

.page_nav_wrap .wp-pagenavi:first-child{
	margin: 0;
}

.page_nav_wrap .previouspostslink {
	background: url(../images/common/news_prev_off.svg) center center/7px 17px no-repeat;
}

.page_nav_wrap .nextpostslink {
	background: url("../images/common/news_next_off.svg") center center/7px 17px no-repeat;
}

.archive_list{
	width: 100%;
	margin: 50px 0 0;
}

.archive_listbg{
	padding: 30px 20px;
	background: #8DCCD3;
}

.archive_listttl{
	color: #fff;
	font-size: 17px;
	font-style: italic;
	font-weight: bold;
	line-height: 1em;
}

.archive_listbox{
	margin: 10px 0 0;
}


.archive_wrap .archive_listbox a{
	display: block;
	padding: 0 12px;
	line-height: 30px;
	width: 100%;
	margin: 0 0 2px;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	background: #fff;
}

.archive_wrap .archive_listbox li.current a{
	color: #60B8CF;
}

.category_wrap{
	margin: 30px 0 0;

}

.cat_list{
	margin: calc( 30px - 14px ) 0 0;
}

.cat_list li{
	margin: 14px 0 0;
}


a.cat_item{
	display: inline-flex;
	align-items: center;
}

.cat_name{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

.cal_items {
	line-height: 1;
	background: #fff;
	color: #8DCCD3;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	border-radius: 10px;
	margin: 0 0 0 0.5em;
	padding: 3px 0 1px;
	width: 32px;
	display: inline-block;
}

.page_nav_wrap .wp-pagenavi span.extend{
	background: transparent;
	border: none;
	color: #60B8CF;
	width: 1.5em;
	margin: 0;
}

@media only screen and (min-width: 1025px) {

	.news_wrap{
		padding: 100px 0;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
	}
	
	.single .news_wrap{
		padding-top: 0;
		border-top: none;
	}

	.article_list{
		width: calc( 100% - 400px - 1em );
		max-width: 1090px;
	}
	
	.single .article_list{
		border-top: 1px solid #EEEEEE;
		padding: 50px 0 0;
	}
	
	.breadcrumbs_line{
		width: calc( 100% - 400px - 1em );
		margin: 20px 0 0;
		max-width: 1090px;
	}
	
	.news_single_wrap{
		padding: 100px 0 0;
	}

	
	.post_list li .news_item{
		border-bottom: 1px solid #60B8CF;
		padding: 24px 20px 24px 0;
		position: relative;
		display: flex;
		flex-flow: row;
		align-items: center;
		transition: all 1s ease-out;
	}
	.post_list li:hover .news_item{
		color: #999;
	}
	
	

	.news_icon{
		position: absolute;
		width: 12px;
		top: 50%;
		-webkit-transform : translateY(-50%);
		transform : translateY(-50%);
		right: 0px;
	}

	.post_date{
		font-size: 16px;
		font-weight: bold;
	}

	.post_cat{
		display: inline-block;
		min-width: 110px;
		font-size: 14px;
		font-weight: bold;
		border-radius: 15px;
		background: #BCC601;
		color: #fff;
		text-align: center;
		margin: 0 0 0 2.9357%;
	}
	
	_:-ms-lang(x)::-ms-backdrop, .post_cat{
		padding: 3px 5px;
		line-height: 1em;
		font-size: 14px;
		font-weight: bold;
		border-radius: 15px;
		background: #BCC601;
		color: #fff;
/*
		width: 6em;
*/
		min-width: 8em;
		text-align: center;
		margin: 0 0 0 2.9357%;
		padding: calc( ( ( 30px - 1em ) * 0.5 ) + 3px  )  10px calc( ( ( 30px - 1em ) * 0.5 ) - 3px  );
	}

	.post_ttl{
		width: calc(100% - 300px);
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 0 4.587155%;
		transition: 1s all ease-out;
	}
	
	a:hover .post_ttl{
		color: #999;
	}

	.page_nav_wrap{
		display: flex;
		flex-flow: row; 
		justify-content: flex-end;
		margin: 30px 0 0 ;
	}

	.page_nav_wrap .wp-pagenavi {
		display: flex;
		flex-flow: row;
	}

	.page_nav_wrap .wp-pagenavi span.pages{
		display: none;
	}


	.page_nav_wrap .wp-pagenavi a, .page_nav_wrap .wp-pagenavi span {
		width: 40px;
		height: 40px;
		display: flex;
	/*
		justify-content: center;
	*/
		padding-left: 10px;
		align-items: center;
		border: 2px solid #60B8CF;
		color: #60B8CF;
		transition: all 1s ease-out;
		margin: 0 0 0 10px;
		font-style: italic;
		font-size: 20px;
		font-weight: bold;
		transition: all 1s ease-out;
	}
	_:-ms-lang(x)::-ms-backdrop, .page_nav_wrap .wp-pagenavi a, .page_nav_wrap .wp-pagenavi span{
		line-height: 1.8em;
		display: block;
	}
	
	.page_nav_wrap .wp-pagenavi a:hover{
		border-color: #727171;
		color: #fff;
		background-color: #727171;
	}

	.page_nav_wrap .wp-pagenavi span {
		color: #fff;
	}


	.page_nav_wrap .wp-pagenavi span {
		background: #60B8CF;
	}

	
	
	.page_nav_wrap .wp-pagenavi:first-child{
		margin: 0;
	}

	.page_nav_wrap .previouspostslink {
		background: url(../images/common/news_prev_off.svg) center center/7px 17px no-repeat;
	}

	.page_nav_wrap .nextpostslink {
		background: url("../images/common/news_next_off.svg") center center/7px 17px no-repeat;
	}
	.page_nav_wrap a:hover.previouspostslink {
		background-image: url(../images/common/news_prev_on.svg);
	}

	.page_nav_wrap a:hover.nextpostslink {
		background-image: url("../images/common/news_next_on.svg");
	}
	.archive_list{
		width: 400px;
		margin: 0;
	}

	.archive_listbg{
		padding: 30px 50px;
		background: #8DCCD3;
	}

	.archive_listttl{
		color: #fff;
		font-size: 25px;
		font-style: italic;
		font-weight: bold;
		line-height: 1em;
	}

	.archive_listbox{
		margin: 30px 0 0;
	}


	.archive_wrap .archive_listbox a{
		display: block;
		padding: 5px 18px 0;
		line-height: 40px;
		width: 300px;
		margin: 0 0 2px;
		font-size: 15px;
		font-weight: bold;
		font-style: italic;
		background: #fff;
		font-family: 'Overpass', sans-serif;
	}

	_:-ms-fullscreen, :root .archive_wrap .archive_listbox a {
	padding-top: 5px;
}

	.archive_wrap .archive_listbox li.current a{
		color: #60B8CF;
	}

	.category_wrap{
		margin: 70px 0 0;

	}

	.cat_list{
		margin: calc( 30px - 14px ) 0 0;
	}

	.cat_list li{
		margin: 14px 0 0;
	}

	.cat_name{
		color: #fff;
		font-size: 18px;
		font-weight: bold;
	}

	.cal_items {
		font-size: 15px;
		padding: 6px 0 4px;
		width: 42px;
	}

}

/********************************/
/* NEWS個別 */
/********************************/

.single_ttlbox{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 10px;
	border-bottom: 5px solid #60B8CF;
}

.sigle_post_date{
	color: #ADB5BD;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.sigle_post_cat{
  min-width: 68px;
	padding: 3px 5px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 10px;
	background: #BCC601;
	color: #fff;
	line-height: 1.5;
/*
	width: 6em;
*/
	min-width: 8em;
	text-align: center;
	margin: 0 0 0 16px;
}

.sigle_post_ttl{
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;
	margin: 0.2em 0 0 0;
}

.single_content{
	padding: 30px 0;
}

.single_link{
	border-top: 1px solid #ADB5BD;
	padding: 10px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post_prev a{
	padding: 0 0 0 30px;
	background: url(../images/common/news_btn_prev.svg) left center/8px 12px no-repeat;
	font-size: 18px;
	font-weight: bold;
	color: #60B8CF;
}

.back_btn a{
	padding: 0 0 0 30px;
	background: url(../images/common/news_btn_back.svg) left center/20px 20px no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #60B8CF;
	display: inline-block;
}

.post_next a {
	padding: 0 30px 0 0;
	background: url(../images/common/news_btn_next.svg) right center/8px 12px no-repeat;
	font-size: 18px;
	font-weight: bold;
	color: #60B8CF;
}

@media only screen and (min-width: 1025px) {

	.single_ttlbox{
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0 0 10px;
		border-bottom: 5px solid #60B8CF;
	}

	.sigle_post_date{
		color: #ADB5BD;
		font-size: 16px;
		font-weight: bold;
		font-style: italic;
	}

	.sigle_post_cat{
		display: inline-block;
		min-width: 110px;
		font-size: 14px;
		font-weight: bold;
		border-radius: 15px;
		background: #BCC601;
		color: #fff;
		text-align: center;
		margin: 0 0 0 2.9357%;
	}
	
	_:-ms-lang(x)::-ms-backdrop, .sigle_post_cat{
		line-height: 1em;
		font-size: 14px;
		font-weight: bold;
		border-radius: 15px;
		background: #BCC601;
		color: #fff;
/*
		width: 6em;
*/
		min-width: 8em;
		text-align: center;
		margin: 0 0 0 3em;
		padding: calc( ( ( 30px - 1em ) * 0.5 ) + 2px  )  10px calc( ( ( 30px - 1em ) * 0.5 ) - 2px  );
	}

	.sigle_post_ttl{
		width: 100%;
		font-size: 27px;
		font-weight: bold;
	}

	.single_content{
		padding: 50px 0;
	}

	.single_link{
		border-top: 1px solid #ADB5BD;
		padding: 20px 0 0;
		display: flex;
		justify-content: space-between;
	}

	.post_prev a{
		padding: 0 0 0 30px;
		background: url(../images/common/news_btn_prev.svg) left center/8px 12px no-repeat;
		font-size: 18px;
		font-weight: bold;
		color: #60B8CF;
	}

	.back_btn a{
		padding: 0 0 0 30px;
		background: url(../images/common/news_btn_back.svg) left center/20px 20px no-repeat;
		font-size: 14px;
		font-weight: bold;
		color: #60B8CF;
	}

	.post_next a {
		padding: 0 30px 0 0;
		background: url(../images/common/news_btn_next.svg) right center/8px 12px no-repeat;
		font-size: 18px;
		font-weight: bold;
		color: #60B8CF;
	}

}

