@charset "UTF-8";

.group-insurance{
	font-size: 13px;
	line-height: 2em;
}

@media only screen and (min-width: 769px) {
	.group-insurance{
		font-size: 18px;
		line-height: 2em;
	}
}

.hedhero{
	background-image: url("../images/other/hero_sp.jpg");
}
@media only screen and (min-width: 768px) {
	.hedhero{
		background-image: url("../images/other/hero_pc.jpg");
	}
}

/*********/
/* 課 */

.conhed_bg{
	background: url("../images/other/img01_sp.jpg");
}


@media only screen and (min-width: 768px) {

	.conhed_bg{
		background: url("../images/other/img01_pc.jpg");
	}

}

