@charset "utf-8";
/*-------------------------------------------*/
/* スクロールするモーダルウインドウ */

.overlay {
	display: none;
	position: fixed;
	z-index: 9999;
/*
	top: -10px;
*/
	top: 0px;
	left: 0;
	right: 0;
/*
	bottom: -10px;
*/
	bottom: 0px;
	background-color: rgba(0, 0, 0, .8);
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.container {
	display: table;
	justify-content: center;
	align-content: center;
	padding: 10vh 19px;
	width: 100%;
	height: 100%;
}
.inner {
	display: table-cell;
	vertical-align: middle;
/*
	padding: 2.7em 2em;
*/
}
.modal {
	margin: 0 auto;
	width: 100%;
	max-width: auto;
	background: #fff;
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
/*
	flex-wrap: wrap;
*/
	position: relative;
	min-height: auto;
/*
	padding: 1.9em 2em;
	max-width: 550px;
	text-align: justify;
	text-justify: inter-ideograph;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
*/
}

.modal_closeicon{
	position: absolute;
	width: 30px;
	cursor: pointer;
	right: 15px;
	top: 15px;
}

.modal::after {
	display: table;
	content: '';
	clear: both;
}

@media only screen and (min-width: 769px) {


	.overlay {
		display: none;
		position: fixed;
		z-index: 9999;
	/*
		top: -10px;
	*/
		top: 0px;
		left: 0;
		right: 0;
	/*
		bottom: -10px;
	*/
		bottom: 0px;
		background-color: rgba(0, 0, 0, .45);
		overflow: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.container {
		display: table;
		justify-content: center;
		align-content: center;
		padding: 10vh 0;
		width: 100%;
		height: 100%;
	}
	.inner {
		display: table-cell;
		vertical-align: middle;
	/*
		padding: 2.7em 2em;
	*/
	}
	.modal {
		margin: 0 auto;
		width: 90%;
		max-width: 1320px;
		background: #fff;
		padding: 0px 0px;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
	/*
		flex-wrap: wrap;
	*/
		position: relative;
/*
		min-height: 760px;
*/
	/*
		padding: 1.9em 2em;
		max-width: 550px;
		text-align: justify;
		text-justify: inter-ideograph;
		border-radius: 7px;
		background-color: #fff;
		box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	*/
	}


	.modal_closeicon{
		position: absolute;
		width: 48px;
		cursor: pointer;
		right: 27px;
		top: 32px;
	}

	.modal::after {
		display: table;
		content: '';
		clear: both;
	}
	/*
	.modal > p {
		text-indent: 1em;
		line-height: 1.7;
	}
	*/
	/*
	.button {
		float: right;
		margin-top: .8em;
		padding: .5em 1.4em;z
		color: #fff;
		font-size: .95em;
		border: 0;
		border-radius: 4px;
		outline: 0;
		background-color: #e57373;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.button:hover {
		background-color: #dd7979;
	}
	*/
	
}

/* モーダルの中身に関しての装飾　ここでなくても良い気もする */


