/**************************/
/* 勧誘方針 */
.solicitation_policy .page_ttl_ja {
  color: #000;
}
.solicitation_policy .pp_page_ttl_en {
  margin: 12px 0 0;
  display: inline-block;
  font-weight: bold;
  color: #60b8cf;
  font-size: 20px;
  font-style: italic;
}
.solicitation_policy .pp_page_ttl_wrap {
  height: auto;
  padding: 40px 0;
  margin: 0;
}
.c_ttl {
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.c_underbar {
  width: 36px;
  height: 1px;
  background: #60b8cf;
  margin: 20px auto 0;
}
.policy_wrap {
  padding: 50px 0;
}
.policy_list {
  margin: 20px 0 0;
}
.policy_item {
  background: #eee;
  margin: 20px 0 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  padding: 30px;
}
.policy_item:first-of-type {
  margin: 0;
}
.item_no {
  font-size: 14px;
  font-weight: bold;
  width: 2.5em;
  margin: 0.4em 0 0;
}
.policy_item p {
  width: calc(100% - 2.5em);
}
.solicitation_policy .submember_breadcrumbs {
  padding: 20px 0 10px;
  border-bottom: 1px solid #f0f1f0;
}
@media only screen and (min-width: 641px) {
  .solicitation_policy .submember_breadcrumbs {
    padding: 20px 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .solicitation_policy .pp_page_ttl_wrap {
    height: auto;
    padding: 100px 0 50px;
    margin: 0;
  }
  .c_ttl {
    font-size: 27px;
    font-weight: bold;
    margin: auto;
    text-align: center;
  }
  .c_underbar {
    width: 50px;
    height: 5px;
    background: #60b8cf;
    margin: 30px auto 0;
  }
  .policy_wrap {
    padding: 100px 0;
  }
  .policy_list {
    margin: 50px 0 0;
  }
  .policy_item {
    margin: 20px 0 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding: 50px 5%;
    line-height: 2;
  }
  .item_no {
    font-size: 20px;
    font-weight: bold;
    width: 3em;
    margin: 0.4em 0 0;
  }
}

/**************************/
/* 顧客本位の業務運営 */
.ope_wrap {
  padding: 100px 0;
}
.ope_box {
  margin: -30px 0 0;
  padding: 55px 0 0;
}
.ope_item {
  margin: 30px 0 0;
  padding: 50px 5% 60px;
  background: #f0f1f0;
}
.ope_ttl {
  font-size: 20px;
  font-weight: bold;
}
.ope_item p {
  margin: 24px 0 0;
}
