/* ---------------- body ---------------- */
body {
font-family: "yugo","游ゴシック","YuGothic","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","Meiryo","メイリオ","ＭＳ ゴシック",sans-serif;
color: #000;
line-height: 1.6;
font-size: 16px;
position: relative;
font-weight: 500;
}
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
/* ---------------- link ---------------- */
a {transition: all 1s ease-out;}
a:link { text-decoration:none; color:#000; }
a:visited { transition: all 1s ease-out; text-decoration:none; color:#000; }
a:hover { text-decoration:none; color:#000; }
a:active { text-decoration:none; color:#000; }
/* ---------------- フォント ---------------- */
@font-face {
	font-family: 'YuGothR';
	font-style: normal;
	src: url("../fonts/YuGothR.eot");
	src: local('YuGothR.ttc'),
	url("../fonts/YuGothR.eot") format('embedded-opentype'),
	 url('../fonts/YuGothR.woff2') format('woff2'),
	 url('../fonts/YuGothR.woff') format('woff'),
	 url('../fonts/YuGothR.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'YuGothB';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/YuGothB.eot");
	src: local('YuGothB.ttc'),
	url("../fonts/YuGothB.eot") format('embedded-opentype'),
	 url('../fonts/YuGothB.woff2') format('woff2'),
	 url('../fonts/YuGothB.woff') format('woff'),
	 url('../fonts/YuGothB.ttf') format('truetype');
	font-display: swap;
}

.yugo {
	font-family: 'YuGothR', sans-serif;
}
.yugo_b {
	font-family: 'YuGothB', sans-serif;
}
.mincho {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.overpass {
	font-family: 'Overpass', sans-serif;
}


/* ---------------- nowrap ---------------- */
.nowrap {
	white-space: nowrap;
}
/* ---------------- box-sizing ---------------- */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mos-box-sizing: border-box;
	-mz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
/* ---------------- img_fit ---------------- */
.img_fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
