@charset "utf-8";
/* スライド ここから */
#sec01 {
  position: relative;
}
.swiper-slide img {
  width: 100%;
}
.hero_txt_area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_txt_area h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  white-space: nowrap;
  letter-spacing: .1em;
}
.hero_txt_area p {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  margin-top: 20px;
  text-align: center;
  color: #fff;
	letter-spacing: 0.1em;
}
#sec01 .swiper-button-prev {
  position: absolute;
  width: 63px;
  height: 42px;
  background: #fff;
  top: auto;
  bottom: 0;
  right: 63px;
  left: auto;
}
#sec01 .swiper-button-next {
  position: absolute;
  width: 63px;
  height: 42px;
  background: #fff;
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}
#sec01 .swiper-button-prev:after,
#sec01 .swiper-button-next:after {
  content: "";
  z-index: 100;
  width: 7px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
#sec01 .swiper-button-prev:after {
  background: url("../images/top/arw_l.svg") center/7px 12px no-repeat;
}
#sec01 .swiper-button-next:after {
  background: url("../images/top/arw_r.svg") center/7px 12px no-repeat;
}
@media only screen and (min-width: 1025px) {
  .tb_br {
    display: none;
  }
  .hero_txt_area h1 {
    font-size: 55px;
  }
  .hero_txt_area p {
    font-size: 20px;
    margin-top: 14px;
    letter-spacing: .1em;
  }
  #sec01 .swiper-button-prev {
    width: 90px;
    height: 60px;
    right: 90px;
  }
  #sec01 .swiper-button-next {
    width: 90px;
    height: 60px;
  }
  #sec01 .swiper-button-prev:after,
  #sec01 .swiper-button-next:after {
    width: 10px;
    height: 18px;
  }
  #sec01 .swiper-button-prev:after {
    background: url("../images/top/arw_l.svg") center/10px 18px no-repeat;
  }
  #sec01 .swiper-button-next:after {
    background: url("../images/top/arw_r.svg") center/10px 18px no-repeat;
  }
}
/* スライド ここまで */
/* グローバルメニューここから */

.nav_wrap {
  padding: 10px 0 0;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.nav li {
  width: 50%;
  border-top: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.nav li:nth-child(1),
.nav li:nth-child(2){
  border-top: none;
}
.nav a {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.5px 0;
}
.nav a:hover {
  color: #999;
}
.nav a span.overpass {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #60B8CF;
	margin: 0.3em 0 0;
	letter-spacing: 0.1em;
}
@media only screen and (min-width: 500px) {
  .nav li {
  width: 33.333%;
}
.nav li:nth-child(3) {
  border-top: none;
}
.nav li:nth-child(3n) {
  border-right: none;
}
}
@media only screen and (min-width: 641px) {
  .nav_wrap {
    padding: 50px 0 0;
  }
}
@media only screen and (min-width: 1025px) {
  .nav_contents_wrap {
    padding: 0 80px;
  }
  .nav_wrap {
    padding: 64px 0;
  }
  .nav {
    border: none;
  }
  .nav li {
    width: 16.6666%;
    line-height: 1.45;
    border-right: 1px solid #ADB5BD;
    border-top: none;
  }
  .nav li:first-child {
    border-left: 1px solid #ADB5BD;
  }
  .nav li:nth-child(3n) {
    border-right: 1px solid #ADB5BD;
  }
  .nav a {
    font-size: 20px;
    padding: 0;
  }
  .nav a span.overpass {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1404px) {
  .nav_contents_wrap {
    padding: 0 100px;
  }
}
/* グローバルメニューここまで */
/* コンテンツラップ（お知らせ + ログイン） */
.top_contents_wrap {
    padding: 0 20px;
}
@media only screen and (min-width: 769px) {
  .top_contents_wrap {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 82px 0 0;
  }
}
@media only screen and (min-width: 1025px) {
  .top_contents_wrap {
    padding: 0 80px 0 0;
  }
}
@media only screen and (min-width: 1401px) {
  .top_contents_wrap {
    padding: 0 100px 0 0;
  }
}
/* お知らせ ここから */
.news_box_list {
  margin: 10px 0 0;
}
.news_list {
  padding: 20px 0;
  border-bottom: 1px solid #60b8cf;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.news_list::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 14px;
  background: url("../images/top/arw_r.svg") center/8px 14px no-repeat;
}
.news_list:hover .news_txt {
  color: #999;
}
.news_date {
  width: 78px;
  font-weight: bold;
  font-size: 11px;
  color: #adb5bd;
}
.news_type {
  width: 68px;
}
.news_type p {
  min-width: 68px;
  border-radius: 10px;
  background: #bcc601;
  font-weight: bold;
  font-size: 9px;
  text-align: center;
  color: #fff;
}
@media all and (-ms-high-contrast: none) {
  .news_type p {
    padding: 3px 0 0;
  }
}
.news_txt {
  width: 100%;
  padding: 0 30px 0 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.7;
  margin-top: 15px;
}
.more_btn_wrap {
  margin: 30px 0 0;
}
.more_btn {
  background: #51aac1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 30px;
  margin: auto;
  width: 208px;
  height: 48px;
}
.more_btn:hover {
  background: #727171;
}
.more_btn p {
  font-weight: bold;
  font-size: 11px;
  color: #fff;
}
@media all and (-ms-high-contrast: none) {
  .more_btn {
    padding: 5px 16px 0 30px;
  }
}
@media only screen and (min-width: 769px) {
  .news_area {
    width: 86%;
    margin: 0 1em 0 0;
    padding: 0 0 0 82px;
  }
  .news_area_inner {
    margin: auto;
    max-width: 862px;
		width: 80%;
    min-width: 262px;
	}
  .more_btn {
    margin: 0 0 0 auto;
  }
}
@media only screen and (min-width: 1025px) {
.news_box_list {
  margin: 20px 0 0;
}
	.news_area {
    padding: 0 0 0 80px;
  }
}
@media only screen and (min-width: 1300px) {
  .news_list::after {
    width: 10px;
    height: 18px;
    background: url("../images/top/arw_r.svg") center/10px 18px no-repeat;
  }
  .news_date {
    width: 114px;
    font-size: 16px;
  }
  .news_type {
    width: 160px;
    margin: 0 20px 0 0;
  }
  .news_type p {
    display: inline-block;
    min-width: 110px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
  }
  .news_txt {
    width: calc(100% - 294px);
    font-size: 18px;
    margin-top: 0;
		transition: 1s all ease-out;
  }
  .more_btn_wrap {
    margin: 50px 0 0;
  }
}
@media only screen and (min-width: 1401px) {
  .news_area {
    width: calc(86% - 400px);
    margin: 0 14% 0 0;
    padding: 0 0 0 100px;
  }
}
@media only screen and (min-width: 1701px) {
  .news_area {
    width: 862px;
    margin: 0 14% 0 0;
    padding: 0;
  }
  .news_area_inner {
    width: 862px;
  }
  .more_btn {
    width: 260px;
    height: 60px;
    background: #51aac1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 30px;
  }
  .more_btn p {
    font-size: 14px;
  }
  #sec03 .sec_boxitem_02 {
    margin: 50px 0 0;
  }
}
/* お知らせ ここまで */
/* ログイン */
.login_area {
  margin: 60px 0 0;
}
.login_area .inner_01 {
  padding: 0;
}
.login_ttl {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px 0 0;
  padding: 12px 30px;
  background: #51AAC1;
  border: solid 1px #51aac1;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
}
.login_box {
  width: 82%;
  margin: auto;
}
.login_form {
  padding: 24px;
  background: #eee;
}
.login_info {
  font-size: 13px;
}
.pass_input_head {
  display: block;
  margin: 25px 0 10px;
  font-size: 18px;
  font-weight: bold;
}
.pass_input {
  width: 100%;
  min-width: 232px;
  height: 42px;
  padding: 0 10px;
  background: #fff;
  outline: 0;
  border: none;
  font-size: 16px;
}
.login_submit {
  position: relative;
  max-width: 260px;
  height: 40px;
  margin: 20px auto 25px;
}
.login_submit_bt {
  background: #51aac1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 16px 0 30px;
  border: none;
  text-align: left;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 1s ease-out;
  font-size: 14px;
  font-weight: bold;
}
.pc_login {
  display: none;
}
@media all and (-ms-high-contrast: none) {
  .login_submit_bt {
    padding: 5px 16px 0 30px;
  }
}
.login_submit_bt:hover {
  background: #727171;
  transition: all 1s ease-out;
}
a.forget_txt {
  color: #51AAC1;
  font-size: 13px;
  text-decoration: underline;
}
@media only screen and (min-width: 641px) {
  .sp_login {
    display: none;
  }
  .pc_login {
    display: block;
  }
}
@media only screen and (min-width: 769px) {
  .login_area {
    margin: 0;
  }
  .login_area .inner_01 {
    padding: 64px 0;
  }
  .login_box {
    padding: 120% 0 0;
  }
  .login_ttl {
    width: 300px;
    padding: 12px 30px;
    font-size: 13px;
  }
  .login_form {
    width: 300px;
  }
  .pass_input {
    min-width: auto;
  }
  .login_submit {
    width: 166px;
    height: 40px;
    margin: 20px auto 25px;
  }
  .login_submit_bt {
    width: 166px;
    height: 40px;
    padding: 0 16px 0 30px;
  }
  .login_box {
    width: 100%;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 769px) {
  .login_submit_bt {
    padding: 5px 16px 0 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .login_area .inner_01 {
    padding: 100px 0;
  }
	.login_ttl {
    font-size: 19px;
  }

}
@media only screen and (min-width: 1401px) {
  .login_area {
    width: 400px;
  }
  .login_box {
    padding: 100% 0 0;
  }
  .login_ttl {
    width: 400px;
    height: 80px;
    padding: 0 52px;
    font-size: 24px;
  }
  .login_form {
    width: auto;
    padding: 30px 40px 48px;
  }
  .pass_input {
    width: 320px;
    height: 50px;
    padding: 0 10px;
  }
  .login_submit {
    width: 260px;
    height: 40px;
    margin: 22px auto 62px;
  }
  .login_submit_bt {
    width: 260px;
    height: 40px;
    padding: 0 16px 0 30px;
    font-weight: bold;
  }
  .login_info {
    font-size: 15px;
  }
  a.forget_txt {
    font-size: 15px;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 1401px) {
  .login_submit_bt {
    padding: 5px 16px 0 30px;
  }
}
/* 取り扱い保険会社 ここから */
.ic_wrap {
  background: #f0f1f0;
}
.sec_boxitem_01 {
}
.sec_ttl {
  font-size: 24px;
  font-weight: bold;
}
.sec_ttl_en {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  margin: 8px 0 0;
  color: #60b8cf;
}
.sec_boxitem_02 {
  margin: 30px 0 0;
}
.ic_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ic_listitem {
  width: calc(50% - 5px);
}
.ic_listitem:nth-child(2) {
  margin: 0px 0 0 10px;
}
.ic_listitem:nth-child(3) {
  margin: 22px 0 0 0px;
}
.ic_listitem:nth-child(4) {
  margin: 22px 0 0 10px;
}
.ic_listitem:nth-child(5) {
  margin: 22px 0 0 0px;
}

.company_list {
  margin: 20px 0 0 0;
  padding: 30px;
  background-color: #fff;
}
.company_list_item {
  color: #999;
  font-size: 10px;
}

@media only screen and (min-width: 641px) {
  .ic_listitem {
    width: calc(33.3333% - 40px / 3);
  }
  .ic_listitem:nth-child(2) {
    margin: 0px 0 0 20px;
  }
  .ic_listitem:nth-child(3) {
    margin: 0px 0 0 20px;
  }
  .ic_listitem:nth-child(4) {
    margin: 20px 0 0 0px;
  }
  .ic_listitem:nth-child(5) {
    margin: 20px 0 0 20px;
  }
  .company_list_item {
    color: #999;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1025px) {
  .sec_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sec_boxitem_01 {
    width: 280px;
  }
  .sec_ttl {
    font-size: 34px;
    font-weight: bold;
    position: relative;
  }
  .sec_ttl_en {
    font-size: 19px;
    margin: 10px 0 0;
  }
  .sec_boxitem_02 {
    width: calc(100% - 280px);
    margin: 0;
  }
  .ic_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .ic_listitem {
    width: calc(33.3333% - 100px / 3);
  }
  .ic_listitem:nth-child(2) {
    margin: 0px 0 0 50px;
  }
  .ic_listitem:nth-child(3) {
    margin: 0px 0 0 50px;
  }
  .ic_listitem:nth-child(4) {
    margin: 28px 0 0 0px;
  }
  .ic_listitem:nth-child(5) {
    margin: 28px 0 0 50px;
  }
}
@media only screen and (min-width: 1401px) {
  .sec_boxitem_01 {
    width: 339px;
  }
  .sec_ttl {
    font-size: 34px;
  }
  .sec_ttl_en {
    font-size: 20px;
  }
  .sec_boxitem_02 {
    width: calc(100% - 339px);
    margin: 0;
  }
}

/* 取り扱い保険会社 ここまで */

/* ピックアップ */
.pick_up_list {
  margin: 27px 0 0;
}
.pick_up_list li {
  margin: 0 0 8px;
}
.pick_up_list li a img {
  width: 100%;
}
.policy_list {
  margin: 14px 0 0;
}
.policy_list a {
  position: relative;
  padding: 0 44px 0 0;
  font-weight: bold;
	display: inline-block;
	margin: 0.5em 0 0;
}
.policy_list a + a {
  margin-left: 24px;
}
.policy_list a img {
/*
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
*/
	vertical-align: middle;
	display: inline-block;
	margin: 0 0 0 0.5em;
}
.policy_list a span {
  font-size: 12px;
  text-decoration: underline;
  letter-spacing: .1em;
}
.pick_up_area {
  margin: 50px 0 0;
}
@media only screen and (min-width: 641px) {
  .pick_up_area {
    margin: 100px 0 0;
  }
  .policy_list {
    margin: 30px 0 0;
  }
	.policy_list a {
		margin: 0.1em 0 0;
	}
  .policy_list a span {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1025px) {
  .pick_up_list {
    display: flex;
    flex-wrap: wrap;
    margin: 27px 0 0;
  }
  .pick_up_list li {
    width: calc( 50% - 15px);
    margin: 30px 0 0 30px;
  }
  .pick_up_list li:nth-child(2n+1) {
    margin: 30px 0 0;
  }
  .pick_up_list li:nth-child(2) {
    margin: 0 0 0 30px;
  }
  .pick_up_list li:nth-child(1) {
    margin: 0;
  }
}
@media only screen and (min-width: 1401px) {
  .policy_list a span {
    font-size: 18px;
  }
  .pick_up_list li {
    width: calc( 50% - 25px);
    margin: 50px 0 0 50px;
  }
  .pick_up_list li:nth-child(2n+1) {
    margin: 50px 0 0;
  }
  .pick_up_list li:nth-child(2) {
    margin: 0 0 0 50px;
  }
  .pick_up_list li:nth-child(1) {
    margin: 0;
  }
}

.eg1_mtg{
  width: 100%;
	padding: 50px 20px 0;
}
.eg1_mtg_ttl {
  padding: 0 0 5px;
  border-bottom: 1px solid #60b8cf;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
}
.eg1_mtg_txt {
  width: 70%;
  margin: 20px auto;
}
.eg1_mtg a {
  position: relative;
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
}
.eg1_mtg img {
  width: 100%;
}
.click_img_wrap {
  display: inline-flex;
  align-items: center;
  gap: 0 5px;
  margin: 0 0 5px;
  font-weight: bold;
}
.eg1_mtg img.click_img {
  width: 20px;
}
@media only screen and (min-width: 992px) {
	.eg1_mtg{
    width: 960px;
    margin: auto;
		padding: 50px 0 0;
	}
}
